.sideMenu{
width: 15%;
height: 75%;
margin-left: 2%;
font-size: 18px;
float: left;
}
.mainWindow{
    width:75%;
    min-height:500px;
    margin-left:20%;
}

.lineShadow{
    box-shadow: 0px 1px 0px lightgrey;
}
