.inputBox{
    width:90%;
    margin-left:5%;
    margin-top:16%;
}
.loginContainer{
    width:800px;
    height:350px;
    margin:10% auto;
}
.loginInput{
    width:50%;
    height:100%;
    float:left;
    background-color:#edeff1;
    border-radius:20px;
}
.loginPicture{
    width:50%;
    height:100%;
    float:left;
}
.loginInputSpan{
    width:125px;
}
