.headerText{
    background-color:lightgrey;
}
.titleLine{
    color:#34495E;
    padding:10px 100px;
    border-color:#BDC3C7;
    border-top-style:dashed;
    top:10%;
}
.titleHeader{
    color:#34495E;
    background:#BDC3C7;
    padding:20px;
    margin-top: 0px;
}
.footLine{
 color:#34495E;
 padding: 10px;
 border-color:#BDC3C7;
 border-top-style:dashed;
 position:relative;
 bottom:11%;
 width:100%;
 display: inline-block;
}

.footDiv{
color:#34495E; 
background-color:#BDC3C7; 
padding:5px;
position:relative;
bottom : 2%;
width:100%;
height:4em;
text-align:center;
}
.user-status-bar{
    margin-bottom: 0px;
    text-align: right;
    height:30px;
}

.headButtonAddDelete{
height:50px;
width:100%;
}
.tableHeaderBtnContainer{
    height:50px;
    width:100%;
}
.tableBtnContainer{
    float:right;
}
.btnFloatRight{
float:right;
}
.shadowGray{
    box-shadow:2px 2px 5px gray;
}
.shadowLightBlue{
    box-shadow:5px 5px 5px lightblue;
}

.width500px{
    width:500px !important;
    text-align:right;
}
.width475px{
    width:475px !important;
    text-align:right;
}
.width450px{
    width:450px !important;
    text-align:right;
}
.width425px{
    width:425px !important;
    text-align:right;
}
.width400px{
    width:400px !important;
    text-align:right;
}
.width375px{
    width:375px !important;
    text-align:right;
}
.width350px{
    width:350px !important;
    text-align:right;
}
.width325px{
    width:325px !important;
    text-align:right;
}
.width300px{
    width:300px !important;
    text-align:right;
}
.width275px{
    width:275px !important;
    text-align:right;
}
.width250px{
    width:250px !important;
    text-align:right;
}
.width225px{
    width:225px !important;
    text-align:right;
}
.width200px{
    width:200px !important;
    text-align:right;
}
.width175px{
    width:175px !important;
    text-align:right;
}
.width150px{
    width:150px !important;
    text-align:right;
}
<<<<<<< HEAD
.width190px{
    width:190px !important;
=======
.width125px{
    width:125px !important;
>>>>>>> aa71d62dc49429650c6f7d20dde990cc0172a823
    text-align:right;
}
.width100px{
    width:100px !important;
    text-align:right;
}
.width75px{
    width:75px !important;
    text-align:right;
}
.width50px{
    width:50px !important;
    text-align:right;
}

.wellSize{
    width:60%;
    margin:10% auto;
}
.wellCenter{
    width:60%;
    margin:3% 0 0 20%;
}
.marginBtm1{
    margin-bottom:1.5% !important;
}
.marginLeft2{
    margin-left:2% !important;
}
.textAlignCenter{
    text-align:center;
}
.addDelBtnContainer{
    margin-left:70%;
    width:30%;
    height:50px;
}
