.marginTopSpace{
    margin-top:9%;
}
.marginBottomSpace{
	margin-bottom:6%;
}
.headerText{
    background-color:lightgrey;
}
.headerContainerFull{
    position: fixed;
    top:25px;
    left:0;
    right: 0;
    z-index:101;
}
.headerContainer{
    position: fixed;
    top:25px;
    left:15%;
    right: 0;
    z-index:101;
}
.titleHeader{
    color:#34495E;
    background:#BDC3C7;
    padding:15px;
    margin-top: 0px;
    font-size:20px;
}
.footerContainerFull{
    position:relative;
    left: 0%;
    right: 0;
    bottom: 0;
    width:100%;
}
.footerContainer{
    position: relative;
    left: 8%;
    right: 0;
    bottom: 0;
    width:92%;
}
.footDiv{
color:#34495E; 
background-color:#BDC3C7; 
padding:5px;
position:relative;
bottom : 2%;
width:100%;
height:3em;
text-align:center;
}
.user-status-bar{
    position:fixed;
    top:0;
    right:0;
    left:0;
    background-color:white;
    z-index:5;
    margin-bottom: 0px;
    text-align: right;
    height:30px;
}
.reportWellNameTag{
    width: 25%;
    height: 100%;
    float: left;
    font-size: 40px;
    margin-top: 3%;
    margin-right: 8%;
    margin-left: 7%;
}

.headButtonAddDelete{
height:50px;
width:100%;
}
.tableHeaderBtnContainer{
    height:50px;
    width:100%;
}
.tableBtnContainer{
    float:right;
}
.btnFloatRight{
float:right;
}
.shadowGray{
    box-shadow:2px 2px 5px gray;
}
.shadowLightBlue{
    box-shadow:5px 5px 5px lightblue;
}

.width500px{
    width:500px !important;
    text-align:center;
}
.width475px{
    width:475px !important;
    text-align:center;
}
.width450px{
    width:450px !important;
    text-align:center;
}
.width425px{
    width:425px !important;
    text-align:center;
}
.width400px{
    width:400px !important;
    text-align:center;
}
.width375px{
    width:375px !important;
    text-align:center;
}
.width350px{
    width:350px !important;
    text-align:center;
}
.width325px{
    width:325px !important;
    text-align:center;
}
.width300px{
    width:300px !important;
    text-align:center;
}
.width275px{
    width:275px !important;
    text-align:center;
}
.width250px{
    width:250px !important;
    text-align:center;
}
.width225px{
    width:225px !important;
    text-align:center;
}
.width200px{
    width:200px !important;
    text-align:center;
}
.width175px{
    width:175px !important;
    text-align:center;
}
.width150px{
    width:150px !important;
    text-align:center;
}
.width190px{
    width:190px !important;
}
.width125px{
    width:125px !important;
    text-align:center;
}
.width100px{
    width:100px !important;
    text-align:center;
}
.width75px{
    width:75px !important;
    text-align:center;
}
.width50px{
    width:50px !important;
    text-align:center;
}
.width25px{
    width:25px !important;
    text-align:center;
}

.width20p{
   width:22% !important; 
}

.wellSize{
    width:60%;
    margin:10% auto;
}
.wellCenter{
    width:60%;
    margin:3% 0 0 20%;
}
.marginBtm1{
    margin-bottom:1.5% !important;
}
.marginLeft2{
    margin-left:2% !important;
}
.textAlignCenter{
    text-align:center;
}

.paddingLeft0{
    padding-left:0;
}

.textAlignLeft{
    text-align:left;
}

.addDelBtnContainer{
    margin-left:70%;
    width:30%;
    height:50px;
}
.alertText{
    padding-left: 2%;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -baseline;
    color: darkred;
    display: none;
}
.adminAddDelUserAlert{
    width: 30%;
    text-align: center;
    margin-left: 5%;
    margin-top: -2.5%;
    font-size: 18px;
    display: inline-block;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  background: none !important;
}
.dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: center !important;
    width: 100%;
}

.tdmAlert{
    color: darkred;
    font-size: 20px;
    width: 50%;
    margin-left: 25%;
    position: relative;
    margin-top: -5%;
}
