.detailWindow{
    width:90%;
    margin-left:5%;
}

.listWindow{
width: 81%;
margin-left: 17%;
min-height: 700px;
}


.listWindowMaterial{
    width:75%;
    min-height:550px;
    margin-left:20%;
}

.searchS{
	float:left;
        width:275px;
}

.orderAddDetailWindows{
	display: none;
}
