.detailWindow{
    width:70%;
    margin-left:15%;
    border:solid;
    margin-top:5.5%;
}

.listWindow{
    width:70%;
    margin-left:15%;
    height:500px;
    border:solid;
    margin-top:7%;
}


.listWindowMaterial{
    width:82.3%;
    height:500px;
    border:solid;
}

.searchS{
	float:right;
	margin-right:15%;
	margin-top:5%;
}