@(user : User)
@header("exports")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/home.css")">

@nav(user)
@headerTag("ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์")
@sideMenu(user)

<div class ="mainWindow" style="text-align:center;">

    <div class="well wellCenter">
        <h3>
            ระบบเบิกจ่ายและโอนย้าย 
        </h3>
        <a href="@routes.ExportOrder.exportOrder()">
        <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">เบิกจ่ายวัสดุ </button>
        </a>
        <a href="@routes.ExportTransferInside.exportTransferInside()">
        <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">โอนย้ายครุภัณฑ์ (ภายในหน่วยงาน) </button>
        </a>
        <a href="@routes.ExportSold.exportSold()">
        <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">จำหน่ายครุภัณฑ์</button>
        </a>
        <a href="@routes.ExportDonate.exportDonate()">
        <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">บริจาคครุภัณฑ์</button>
        </a>
        <a href="@routes.ExportRepair.exportRepairing()">
        <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ส่งซ่อม - รับคืน</button>
        </a>
        <a href="@routes.ExportBorrow.exportBorrow()">
        <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;"> ยืม - รับคืน </button>
        </a>
        <a href="@routes.ExportOther.exportOther()">
        <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">อื่นๆ</button>
        </a>
    </div>

</div> 
@footer()
