@(user : User, requisition:models.consumable.Requisition)
@header("exportOrderAdd")

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/export/order.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/getNameAutoComplete.js")"></script>
  <body onload="init(@requisition.id)"> 

@nav(user)
@headerTagFull("เพิ่มรายการเบิกจ่าย")

<div class ="detailWindow" id="addWindows" ng-app="userAccountModule" ng-controller="autoCompleteUserController">
  <form name="addOrder" method="post" action="@routes.Export.saveRequisition(requisition.id)" ng-init="findUser()" onsubmit="return submitButtonClick()">
    <div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width250px">ใบเบิกวัสดุประจำเดือน</span>
              <input type="text" class="form-control width300px textAlignCenter" autocomplete="off" name="title" id="title">
              <span class="alertText" id="titleAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width250px">เลขที่</span>
              <input type="text" class="form-control width300px textAlignCenter" autocomplete="off" value="@requisition.number" name="number" id="number">
              <span class="alertText" id="numberAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width250px">วัน/เดือน/ปี ที่ทำการเบิกจ่าย</span>
              <input type="text" class="form-control width300px textAlignCenter" id="date">
              <span class="alertText" id="dateAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ผู้จ่าย:ชื่อ</span>
              <input type="text" class="form-control width190px textAlignCenter" name="firstName" id="firstName" onkeyup="mapInput()">
              <span class="alertText" id="firstNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">นามสกุล</span>
              <input type="text" class="form-control width190px textAlignCenter" name="lastname" id="lastName">
              <span class="alertText" id="lastNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon width125px">ตำแหน่ง</span>
            <input type="text" class="form-control width190px textAlignCenter" name="position" id="position">
              <span class="alertText" id="positionAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ผู้อนุมัติ:ชื่อ</span>
              <input type="text" class="form-control width190px textAlignCenter" name="approverName" id="approverName" onkeyup="mapInput2()">
              <span class="alertText" id="approverNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">นามสกุล</span>
              <input type="text" class="form-control width190px textAlignCenter" name="approverLastName" id="approverLastName">
              <span class="alertText" id="approverLastNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ตำแหน่ง</span>
              <input type="text" class="form-control width190px textAlignCenter" name="approverPosition" id="approverPosition">
              <span class="alertText" id="approverPositionAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

    </div>

    <div class="well" >
      
      <h2 style ="text-align:center;">รายละเอียดวัสดุ</h2>
      <div class="tableHeaderBtnContainer" >        
        <div class="searchS">
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">ค้นหา</span>
                <input type="text" class="form-control" style="width:300px">
            </div>
          </div>
        </div>
        <div>
            <button type="button" class="btn btn-success width200px" onclick="addDetailButton()" style="float:right;margin-left:1%;">เพิ่มวัสดุ</button>
            <button type="button" class="btn btn-danger width200px" style="float:right;">ลบวัสดุ</button>
        </div> 
      </div>

      <table class="table table-striped overlayTable">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>หมายเลขวัสดุ<span class="glyphicon glyphicon-sort"></span></th>
            <th>รายละเอียด<span class="glyphicon glyphicon-sort"></span></th>
            <th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
            <th>หน่วย<span class="glyphicon glyphicon-sort"></span></th>
            <th>ผู้เบิก<span class="glyphicon glyphicon-sort"></span></th>
            <th>หมายเหตุ<span class="glyphicon glyphicon-sort"></span></th>
          </tr>
        </thead>
        <tbody id="detailInTable">

        </tbody>
      </table>
        
    </div>

    <div align="center" style="margin-bottom:1%;">
      <a href="@routes.Export.cancelRequisition(requisition.id)">
        <button type="button" class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;">
          <span class="glyphicon glyphicon-remove"></span> ยกเลิก
        </button>
      </a>
      <button type="submit" class="btn btn-success btn-lg width250px" style=" margin-top:1%;">
        ยืนยัน <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>

  </form>

</div> 

<div class="detailWindow orderAddDetailWindows" id="addDetailWindows">
  <form name="addDetail" onsubmit="alert("A")">
    <div class="well" >

      <div class="form-inline marginBtm1" role="form" align="left">
        <div class="form-group" >
          <div class="input-group" >
              <span class="input-group-addon width250px" >ชื่อวัสดุ</span>
              <input type="text" name="groupCode" id="groupCode" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" >
              <span class="alertText" id="groupCodeAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group" >
          <div class="input-group" >
              <span class="input-group-addon width250px" >รหัสวัสดุ</span>
              <input type="text" name="code" id="code" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
          </div>
        </div>
      </div>
      
      <div class="form-inline marginBtm1" role="form" align="left">
        <div class="form-group" >
          <div class="input-group" >
              <span class="input-group-addon width250px" >จำนวน</span>
              <input type="number" name="quantity" id="quantity" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า"onkeypress="validateNumberKey(event)">
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form" align="left">
        <div class="form-group" >
          <div class="input-group" >
              <span class="input-group-addon width200px" >ผู้เบิก:ชื่อ</span>
              <input type="text" name="withdrawerNmae" id="withdrawer" class="form-control textAlignCenter  width200px"placeholder="ใส่ค่า" onkeyup="mapInput3()">
          </div>
        </div>
        <div class="form-group" >
          <div class="input-group" >
              <span class="input-group-addon width200px" >นามสกุล</span>
              <input type="text" name="withdrawerLastname" id="withdrawerLastname" class="form-control textAlignCenter  width200px"placeholder="ใส่ค่า">
          </div>
        </div>
        <div class="form-group" >
          <div class="input-group" >
              <span class="input-group-addon width200px" >ตำแหน่ง</span>
              <input type="text" name="withdrawerPosition" id="withdrawerPosition" class="form-control textAlignCenter  width200px"placeholder="ใส่ค่า">
          </div>
        </div>
      </div>

      <div class="well">
        
        <fieldset>
                    
          <legend style="width:auto">ตัวช่วยกรอง</legend>

            <table  class="table table-striped">
              <tr>
                <td ><input type="radio"> วัสดุสำนักงาน(01)</td>
                <td ><input type="radio"> วัสดุไฟฟ้าและวิทยุ(02)</td>
                <td ><input type="radio"> วัสดุงานบ้านงานครัว(03)</td>
                <td ><input type="radio"> วัสดุคอมพิวเตอร์(04)</td>
                <td ><input type="radio"> วัสดุยานพาหนะและขนส่ง(05)</td>
                <td ><input type="radio"> วัสดุวิทยาศาสตร์และการแพทย์(06)</td>
              </tr>

              <tr>
              <td><input type="radio"> วัสดุโฆษณาและเผยแพร่(07)</td>
                <td><input type="radio"> วัสดุการศึกษา(08)</td>
                <td><input type="radio"> วัสดุสนาม(09)</td>
                <td><input type="radio"> วัสดุการเกษตร(10)</td>
                <td><input type="radio"> วัสดุสำรวจ(11)</td>
                <td><input type="radio"> วัสดุก่อสร้าง(12)</td>
              </tr>

              <tr>
                <td><input type="radio"> วัสดุโรงงาน(13)</td>
                <td><input type="radio"> วัสดุดนตรีและนาฏศิลทป์(14)</td>
                <td><input type="radio"> วัสดุกีฬา(15)</td>
                <td><input type="radio"> วัสดุอาวุธ(16)</td>
                <td><input type="radio"> วัสดุอื่นๆ(17)</td>
              </tr>
            </table>

            รูปภาพ<img src="">

          </fieldset>

        </div>
        
      </div> <!--well-->

      <div align="center" style="margin-bottom:1%;">
        
        <button type="button" class="btn btn-danger btn-lg width250px" onclick="addOrderButton()" style="margin-top:1%;margin-right:1%;">
          <span class="glyphicon glyphicon-remove"></span> ยกเลิก
        </button>
        <button type="button" class="btn btn-success btn-lg width250px" onclick="validateSaveDetail()" style=" margin-top:1%;">
          ยืนยัน <span class="glyphicon glyphicon-ok"></span>
        </button>

      </div>
    </div>
  </form>
</div> <!--detailWindow-->

@footerFull()
