@(user : User, donation : models.durableArticles.Donation, allCompany:List[models.Company])
@header("exportDonateViewDetail")

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/export/mainExport.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/export/donate.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/getExportDonate.js")"></script>

<body onload="initViewDetial(@donation.id)" ng-app="exportModule" ng-controller="exportDonateCtrl"> 

@nav(user)
@headerTagFull("เพิ่มรายการบริจาคครุภัณฑ์")

@cancelExportAdd()
@cancelList()

<div class ="detailWindow" id="addWindows" ng-init="findUser()">

  <div>
    <button class="btn btn-info btn-lg width250px" style="margin-bottom:1%;">ปริ้นบาร์โค้ด</button> 
    <button id="changeToEditButton" onclick="changeToEdit()" class="btn btn-warning btn-lg width250px" style="margin-bottom:1%;">แก้ไขรายละเอียด</button>
  </div>

  <form name="addDonate" method="post" action="@routes.ExportDonate.saveDonation(donation.id)" onsubmit="return submitButtonClick()">
    <div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">รายการ เรื่อง</span>
            <input type="text" class="form-control width300px" value="@donation.title" name="title" id="title">
            <span class="alertText" id="titleAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">เลขที่</span>
            <input type="text" class="form-control width300px" value="@donation.contractNo" name="contractNo" id="contractNo">
            <span class="alertText" id="contractNoAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group " id="dateP">
            <span class="input-group-addon width250px">วัน/เดือน/ปี อนุมัติ</span>
            <input type="text" class="form-control width300px" value="@donation.getApproveDate" name="approveDate" id="approveDate" data-format="DD/MM/YYYY">
            <span class="input-group-addon width25px" id="datepickerbutton" ><span class="datepickerbutton glyphicon glyphicon-calendar"></span></span>
            <span class="alertText" id="approveDateAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">หน่วยงานที่โอนย้าย</span>
            <select class="form-control textAlignCenter  width300px" name="donateDestination" id="donateDestination">
              <option value="-1">---เลือก---</option>
              @for(company <- allCompany){
                <option value="@company.id" @if(company.equals(donation.company)){selected}>@company.nameEntrepreneur</option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="well" >
        <h3 style ="text-align:left;">คณะกรรมการสอบข้อเท็จจริง <button type="button" class="btn btn-success width175px" style="float:right;margin-left:1%;" id="FF_add" onclick="add_FF_committree()">เพิ่มกรรมการ</button> </h3>
        <input type="number" style="display:none;" value="@donation.ffCommittee.size()" name="numberOf_FF_committee" id="numberOf_FF_committee">
        <table class="table table-striped overlayTable" style="margin-bottom:3%;">
          <thead>
            <tr>
              <th style ="text-align:center;" > คำนำหน้า </th>
              <th style ="text-align:center;" > ชื่อ </th>
              <th style ="text-align:center;" > นามสกุล </th>
              <th style ="text-align:center;" > ตำแหน่ง </th>
              <th style ="text-align:center;" > ประเภทกรรมการ </th>
              <th style ="text-align:center;" > ตำแหน่งในคณกรรมการ </th>
              <th style ="text-align:center;" ></th>
            </tr>
          </thead>
          <tbody id="FF_committee_table">
            @for((committee, index) <- donation.ffCommittee.zipWithIndex ){
              <tr id="FF@index">
                <th style ="text-align:center;" > <input name="FF_namePrefix@index" id="FF_namePrefix@index" value="@committee.user.namePrefix" type="text" class="form-control textAlignCenter width75px"> </th>
                <th style ="text-align:center;" > <input name="FF_firstName@index" id="FF_firstName@index" value="@committee.user.firstName" type="text" class="form-control textAlignCenter width175px"> </th>
                <th style ="text-align:center;" > <input name="FF_lastName@index" id="FF_lastName@index" value="@committee.user.lastName" type="text" class="form-control textAlignCenter width175px"> </th>
                <th style ="text-align:center;" > <input name="FF_position@index" id="FF_position@index" value="@committee.user.position" type="text" class="form-control textAlignCenter width175px"> </th>
                <th style ="text-align:center;" > 
                  <select name="FF_cType@index" id="FF_cType@index" value="@committee.employeesType" class="form-control textAlignCenter width175px">
                    <option @if(committee.employeesType == null){selected} >---เลือก---</option>
                    <option @if(committee.employeesType.equals("ข้าราชการ")){selected} >ข้าราชการ</option>
                    <option @if(committee.employeesType.equals("พนักงานมหาลัย")){selected} >พนักงานมหาลัย</option>
                  </select>
                </th>
                <th style ="text-align:center;" > 
                  <select name="FF_cPosition@index" id="FF_cPosition@index" value="@committee.committeePosition" class="form-control textAlignCenter width175px">
                    <option @if(committee.committeePosition == null){selected} >---เลือก---</option>
                    <option @if(committee.committeePosition.equals("ประธานกรรมการ")){selected} >ประธานกรรมการ</option>
                    <option @if(committee.committeePosition.equals("กรรมการ")){selected} >กรรมการ</option>
                    <option @if(committee.committeePosition.equals("กรรมการและเลขานุการ")){selected} >กรรมการและเลขานุการ</option>
                  </select>
                </th> 
                <th style ="text-align:center;" > <button type="button" class="btn btn btn-danger" id="FF_delete@index" onclick="delete_FF_committree('@index')"> ลบ </button> </th>
              </tr>
            }
          </tbody>
        </table>

        <h3 style ="text-align:left;">คณะกรรมการจำหน่าย <button type="button" class="btn btn-success width175px" style="float:right;margin-left:1%;" id="D_add" onclick="add_D_committree()">เพิ่มกรรมการ</button> </h3>
        <input type="number" style="display:none;" value="@donation.dCommittee.size()" name="numberOf_D_committee" id="numberOf_D_committee">
        <table class="table table-striped overlayTable" style="margin-bottom:3%;">
          <thead>
            <tr>
              <th style ="text-align:center;" > คำนำหน้า </th>
              <th style ="text-align:center;" > ชื่อ </th>
              <th style ="text-align:center;" > นามสกุล </th>
              <th style ="text-align:center;" > ตำแหน่ง </th>
              <th style ="text-align:center;" > ประเภทกรรมการ </th>
              <th style ="text-align:center;" > ตำแหน่งในคณกรรมการ </th>
              <th style ="text-align:center;" ></th>
            </tr>
          </thead>
          <tbody id="D_committee_table">
            @for((committee, index) <- donation.dCommittee.zipWithIndex ){
              <tr id="D@index">
                <th style ="text-align:center;" > <input id="D_namePrefix@index" name="D_namePrefix@index" value="@committee.user.namePrefix" type="text" class="form-control textAlignCenter width75px"> </th>
                <th style ="text-align:center;" > <input id="D_firstName@index" name="D_firstName@index" value="@committee.user.firstName" type="text" class="form-control textAlignCenter width175px"> </th>
                <th style ="text-align:center;" > <input id="D_lastName@index" name="D_lastName@index" value="@committee.user.lastName" type="text" class="form-control textAlignCenter width175px"> </th>
                <th style ="text-align:center;" > <input id="D_position@index" name="D_position@index" value="@committee.user.position" type="text" class="form-control textAlignCenter width175px"> </th>
                <th style ="text-align:center;" > 
                  <select id="D_cType@index" name="D_cType@index" class="form-control textAlignCenter width175px">
                    <option @if(committee.employeesType == null){selected} >---เลือก---</option>
                    <option @if(committee.employeesType.equals("ข้าราชการ")){selected} >ข้าราชการ</option>
                    <option @if(committee.employeesType.equals("พนักงานมหาลัย")){selected} >พนักงานมหาลัย</option>
                  </select>
                </th>
                <th style ="text-align:center;" > 
                  <select id="D_cPosition@index" name="D_cPosition@index" class="form-control textAlignCenter width175px">
                    <option @if(committee.committeePosition == null){selected} >---เลือก---</option>
                    <option @if(committee.committeePosition.equals("ประธานกรรมการ")){selected} >ประธานกรรมการ</option>
                    <option @if(committee.committeePosition.equals("กรรมการ")){selected} >กรรมการ</option>
                    <option @if(committee.committeePosition.equals("กรรมการและเลขานุการ")){selected} >กรรมการและเลขานุการ</option>
                  </select>
                </th> 
                <th style ="text-align:center;" > <button type="button" class="btn btn btn-danger" id="D_delete@index" onclick="delete_D_committree('@index')"> ลบ </button> </th>
              </tr>
            }
          </tbody>
        </table>
      </div>

    </div>

    <div class="well" >

      <h2 style ="text-align:center;">รายละเอียดครุภัณฑ์</h2>
      <div class="tableHeaderBtnContainer" >
        
        <div class="searchS">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">ค้นหา</span>
              <input type="text" class="form-control" style="width:300px" onkeydown="return (event.keyCode!=13);">
            </div>
          </div>
        </div>

        <div id="editDetail">
          <button type="button" class="btn btn-success width200px" onclick="addDetailButton()" style="float:right;margin-left:1%;">เพิ่มครุภัณฑ์</button>
          <button type="button" class="btn btn-danger width200px" style="float:right;" ng-click="openDeleteDetailModal()">ลบครุภัณฑ์</button>
        </div> 
      </div>

      <table class="table table-striped overlayTable" style="margin-bottom:3%;">
        <thead>
          <tr>
            <th></th>
            <th>ลำดับ</th>
            <th>หมายเลขครุภัณฑ์ (FSN) <span class="glyphicon glyphicon-sort"></span></th>
            <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
            <th>หมายเหตุ<span class="glyphicon glyphicon-sort"></span></th>
          </tr>
        </thead>
        <tbody id="detailInTable">
          
        </tbody>
      </table>

    </div> <!--end well-->
    <div align="center" style="margin-bottom:1%;">
      <a href="@routes.ExportDonate.exportDonate()">
        <button type="button" class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;">
          <span class="glyphicon glyphicon-remove" ></span> ย้อนกลับ
        </button>
      </a>
      <button id="saveExport" type="submit" class="btn btn-success btn-lg width250px" style=" margin-top:1%;">
        ยืนยัน <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>

  </form>

</div> 

<div class="detailWindow" id="addDetailWindows">

  <div class="well" >
    <h2 style ="text-align:center;">รายการครุภัณฑ์</h2>

    <div class="form-inline marginBtm1" role="form" align="center">
      <div class="form-group" >
        <div class="input-group" >
          <span class="input-group-addon width250px" >รหัสFSN</span>
          <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" id="fsnCode" name="fsnCode" onkeydown="if (event.keyCode == 13) searchFSN()">
        </div>
      </div>
      <div class="form-group" >
        <div class="input-group" >
          <span class="input-group-addon width250px" >ชื่อครุภัณฑ์</span>
          <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" id="fsnDescription" name="fsnDescription" onkeydown="if (event.keyCode == 13) searchFSN()">
        </div>
      </div>
      <button type="button" class="btn btn-success" onclick="searchFSN()">ค้นหา</button>
    </div>

    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th> <input type="checkbox"/> </th>
          <th>หมายเลขครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
          <th>รายละเอียดครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
          <th>ราคาต่อหน่วย <span class="glyphicon glyphicon-sort"></span></th>
          <th>อายุการใช้งาน <span class="glyphicon glyphicon-sort"></span></th>
          <th>ที่อยู่ ครุภัณฑ์ (สาขาวิชา) <span class="glyphicon glyphicon-sort"></span></th>
        </tr>
      </thead>
      
      <tbody id="searchResultTable">

      </tbody>
    </table>

  </div>

  <div align="right" style="margin-bottom:1%; margin-right:3%;">

    <button type="button" class="btn btn-danger btn-lg width250px" onclick="addDonateButton()" style="margin-top:1%;margin-right:1%;">
      <span class="glyphicon glyphicon-remove"></span> ยกเลิก
    </button>
    <button type="button" class="btn btn-success btn-lg width250px" onclick="saveDetail()" style=" margin-top:1%;">
      ยืนยัน <span class="glyphicon glyphicon-ok"></span>
    </button>
  </div>

</div> 

@footerFull()
