@(user : User, initList:List[models.durableArticles.Repairing], repairingList:List[models.durableArticles.Repairing], successList:List[models.durableArticles.Repairing])
@header("exportRepair")

    <script src="@routes.Assets.at("javascripts/export/exportRepair.js")"></script>
@nav(user)
@headerTag("ระบบจัดการรายการส่งซ่อม")
@sideMenu(user)


<div class="listWindowMaterial" ng-app="exportRepairApp" ng-Controller="exportDel">

@cancelList()
  <div class="tableHeaderBtnContainer">

    <div class="searchS">
      <form>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ค้นหา</span>
            <input type="text" class="form-control" style="width:300px">
          </div>
        </div>
      </form>
    </div>
    
    <div>
      <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportRepair.exportCreateRepairing()">
        <button class="btn btn-success" style="width:100%">เพิ่มรายการส่งซ่อม</button>
      </a>
      <button class="btn btn-danger width20p" style="float:right;" ng-click="openDelModal()">ลบรายการส่งซ่อม</button>
    </div>

  </div>

  @if(!initList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th></th>
          <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
          <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
          <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
          <th>ร้านที่ส่งซ่อม<span class="glyphicon glyphicon-sort"></span></th>
          <th>ทำรายการต่อ</th>
          </tr>
      </thead>
      <tbody>
        @for(repair <- initList){
          <tr>
            <th> <input type="checkbox"/> </th>
            <th>@repair.title</th>
            <th>@repair.number</th>
            <th>@repair.getDateOfSentToRepair()</th>
            <th>@repair.getCompanyToString()</th>
            <th>
              <a href="@routes.ExportRepair.exportRepairingAdd(repair.id)">
                <button class="btn btn-xs btn-primary" > ทำรายการต่อ</button> 
              </a>
            </th>
          </tr>
        }
      </tbody>
    </table>
  }

    @if(!repairingList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th></th>
          <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
          <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
          <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
          <th>ร้านที่ส่งซ่อม<span class="glyphicon glyphicon-sort"></span></th>
          <th>คืนครุภัณฑ์</th>
          </tr>
      </thead>
      <tbody>
        @for(repair <- repairingList){
          <tr>
            <th> <input type="checkbox"/> </th>
            <th>@repair.title</th>
            <th>@repair.number</th>
            <th>@repair.getDateOfSentToRepair()</th>
            <th>@repair.getCompanyToString()</th>
            <th> 
              <a href="@routes.ExportRepair.receiveFromRepair(repair.id)">
                <button class="btn btn-xs btn-warning" > รับคืน </button> 
              </a>
            </th>
          </tr>
        }
      </tbody>
    </table>
  }

  <table class="table table-striped overlayTable">
    <thead>
      <tr>
        <th></th>
        <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
        <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
        <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
        <th>ร้านที่ส่งซ่อม<span class="glyphicon glyphicon-sort"></span></th>
        <th>รายละเอียด</th>
        </tr>
    </thead>
    <tbody>
      @for(repair <- successList){
        <tr>
          <th> <input type="checkbox"/> </th>
          <th>@repair.title</th>
          <th>@repair.number</th>
          <th>@repair.getDateOfSentToRepair()</th>
          <th>@repair.getCompanyToString()</th>
          <th>
            <a href="@routes.ExportRepair.viewDetail(repair.id)">
              <button class="btn btn-xs btn-info" > รายละเอียด </button> 
            </a>
          </th>
        </tr>
      }
    </tbody>
  </table>

</div>

@footerFull()
