@(user : User, initList:List[models.durableArticles.InternalTransfer], successList:List[models.durableArticles.InternalTransfer])
@header("exportTransferInside")

    <script src="@routes.Assets.at("javascripts/export/exportTransferInside.js")"></script>
@nav(user)
@headerTag("ระบบจัดการรายการโอนย้ายภายใน")
@sideMenu(user)

<div class ="listWindowMaterial" ng-app="exportTransferInsideApp" ng-Controller="exportDel">
@cancelList()
  
  <div class="tableHeaderBtnContainer">

    <div class="searchS">
      <form>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ค้นหา</span>
            <input type="text" class="form-control" style="width:300px">
          </div>
        </div>
      </form>
    </div>
    
    <div>
      <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportTransferInside.exportCreateInternalTransfer()">
        <button class="btn btn-success" style="width:100%;">เพิ่มรายการโอนย้าย</button>
      </a>
      <button class="btn btn-danger width20p" style="float:right;" ng-click="openDelModal()">ลบรายการโอนย้าย</button>
    </div>

  </div>

  @if(!initList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th></th>
          <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
          <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
          <th>วันอนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
          <th>รายละเอียด</th>
        </tr>
      </thead>
      
      <tbody>
        @for(transferInside <- initList){
          <tr>
            <th> <input type="checkbox"/> </th>
            <th>@transferInside.title</th>
            <th>@transferInside.number</th>
            <th>@transferInside.getApproveDate()</th>
            <th>
              <a href="@routes.ExportTransferInside.exportTransferInsideAdd(transferInside.id)">
                <button class="btn btn-xs btn-info" > ทำต่อ</button> 
              </a>
            </th>
          </tr>
        }
      </tbody>
    </table>
  }

  <table class="table table-striped overlayTable">
    <thead>
      <tr>
        <th></th>
        <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
        <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
        <th>วันอนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
        <th>รายละเอียด</th>
      </tr>
    </thead>
    
    <tbody>
      @for(transferInside <- successList){
        <tr>
          <th> <input type="checkbox"/> </th>
          <th>@transferInside.title</th>
          <th>@transferInside.number</th>
          <th>@transferInside.getApproveDate()</th>
          <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button> </th>
        </tr>
      }
    </tbody>
  </table>
  
</div> 

@footerFull()
