@(user : User ,borrow:models.durableArticles.Borrow)
@header("exportBorrowAdd")

<script type="text/javascript" src="@routes.Assets.at("javascripts/export/borrow.js")"></script>
<body onload="init(@borrow.id)"> 

@nav(user)
@headerTagFull("เพิ่มรายการยืม")

<div id="addWindows" class ="detailWindow" >
  
  <form name="addSold" method="post" action="@routes.ExportBorrow.saveBorrow(borrow.id)">
    <div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">รายการ เรื่อง</span>
            <input type="text" class="form-control width300px" value="@borrow.title" name="title">
            <span class="alertText" id="nameEntrepreneurAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">เลขที่</span>
            <input type="text" class="form-control width300px" value="@borrow.number" name="number">
            <span class="alertText" id="nameEntrepreneurAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group" id="dateP">
            <span class="input-group-addon width250px">วัน/เดือน/ปี เริ่มยืม</span>
            <input type="text" class="form-control width300px" value="@borrow.getDateOfStartBorrow()" name="dateOfStartBorrow" data-format="DD/MM/YYYY">
            <span class="input-group-addon width25px"><span class="datepickerbutton glyphicon glyphicon-calendar"></span></span>
            <span class="alertText" id="nameEntrepreneurAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>


      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ผู้ยืม:ชื่อ</span>
              <input type="text" class="form-control width190px textAlignCenter" name="withdrawerFirstName" id="withdrawerNmae" onkeyup="mapInput2()">
              <span class="alertText" id="withdrawerNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">นามสกุล</span>
              <input type="text" class="form-control width190px textAlignCenter" name="withdrawerLastName" id="withdrawerLastname">
              <span class="alertText" id="withdrawerLastNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ตำแหน่ง</span>
              <input type="text" class="form-control width190px textAlignCenter" name="withdrawerPosition" id="withdrawerPosition">
              <span class="alertText" id="withdrawerPositionAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ผู้อนุมัติ:ชื่อ</span>
              <input type="text" class="form-control width190px textAlignCenter" name="approverFirstName" id="approverName" onkeyup="mapInput2()">
              <span class="alertText" id="approverNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">นามสกุล</span>
              <input type="text" class="form-control width190px textAlignCenter" name="approverLastName" id="approverLastName">
              <span class="alertText" id="approverLastNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ตำแหน่ง</span>
              <input type="text" class="form-control width190px textAlignCenter" name="approverPosition" id="approverPosition">
              <span class="alertText" id="approverPositionAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

    </div>

    <div class="well" >
      <h2 style ="text-align:center;">รายละเอียดครุภัณฑ์</h2>
      <div class="tableHeaderBtnContainer" >
        <div class="searchS">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">ค้นหา</span>
              <input type="text" class="form-control" style="width:300px">
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-success width200px" style="float:right;margin-left:1%;" onclick="addDetailButton()">เพิ่มครุภัณฑ์</button>
          <button type="button" class="btn btn-danger width200px" style="float:right;">ลบครุภัณฑ์</button>
        </div> 
      </div>

      <table class="table table-striped overlayTable" style="margin-bottom:3%;">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>FSN<span class="glyphicon glyphicon-sort"></span></th>
                <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
            </tr>
        </thead>
        <tbody id="detailInTable">

        </tbody>
      </table>
    </div>  <!--end well-->


    <div align="center" style="margin-bottom:1%;">
      <a href="@routes.ExportBorrow.cancelBorrow(borrow.id)">
        <button type="button" class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;">
          <span class="glyphicon glyphicon-remove"></span> ยกเลิก
        </button>
      </a>
        <button type="submit" class="btn btn-success btn-lg width250px" style=" margin-top:1%;">
          ยืนยัน <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
  </form>

</div> 

<div id="addDetailWindows" class="detailWindow">

  <div class="well" >
    <h2 style ="text-align:center;">รายการครุภัณฑ์</h2>

    <div class="form-inline marginBtm1" role="form" align="center">
      <div class="form-group" >
        <div class="input-group" >
          <span class="input-group-addon width250px" >รหัสFSN</span>
          <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" id="fsnCode" name="fsnCode" onkeydown="if (event.keyCode == 13) findFSN()">
        </div>
      </div>
      <div class="form-group" >
        <div class="input-group" >
          <span class="input-group-addon width250px" >ชื่อครุภัณฑ์</span>
          <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" id="fsnDescription" name="fsnDescription" onkeydown="if (event.keyCode == 13) findFSN()">
        </div>
      </div>
      <button type="button" class="btn btn-success" onclick="findFSN()">ค้นหา</button>
    </div>

    <table class="table table-striped overlayTable">
      <thead>
        <tr>
            <th> <input type="checkbox"/> </th>
            <th>หมายเลขครุภัณฑ์ (FSN) <span class="glyphicon glyphicon-sort"></span></th>
            <th>ชื่อครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
            <th>อายุการใช้งาน / คงเหลือ <span class="glyphicon glyphicon-sort"></span></th>
            <th>ราคาคงเหลือ / คงเหลือ <span class="glyphicon glyphicon-sort"></span></th>
            <th>รายละเอียด</th>
        </tr>
      </thead>
      
      <tbody id="searchResultTable">

      </tbody>
    </table>
  </div>

  <div align="center" style="margin-bottom:1%;">

    <button class="btn btn-danger btn-lg width250px" onclick="addBorrowButton()" style="margin-top:1%;margin-right:1%;">
        <span class="glyphicon glyphicon-remove"></span> ยกเลิก
    </button>
    <button class="btn btn-success btn-lg width250px" onclick="saveDetail()" style=" margin-top:1%;">
      ยืนยัน <span class="glyphicon glyphicon-ok"></span>
    </button>

  </div>

</div>   <!--listWindowMaterial--> 

@footerFull()