@(user : User, initList:List[models.durableArticles.InternalTransfer], successList:List[models.durableArticles.InternalTransfer])
@header("exportTransferInside")

@nav(user)
@headerTag("ระบบจัดการรายการโอนย้ายภายใน")
@sideMenu(user)

<div class ="listWindowMaterial">
  
  <div class="tableHeaderBtnContainer">

    <div class="searchS">
      <form>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ค้นหา</span>
            <input type="text" class="form-control" style="width:300px">
          </div>
        </div>
      </form>
    </div>
    
    <div>
      <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportTransferInside.exportCreateInternalTransfer()">
        <button class="btn btn-success" style="width:100%;">เพิ่มรายการโอนย้าย</button>
      </a>
      <button class="btn btn-danger width20p" style="float:right;">ลบรายการโอนย้าย</button>
    </div>

  </div>

  @if(!initList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th></th>
          <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
          <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
          <th>วันอนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
          <th>รายละเอียด</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        @for(TransferInside <- initList){
          <tr>
            <th> <input type="checkbox"/> </th>
            <th>@TransferInside.title</th>
            <th>@TransferInside.number</th>
            <th>@TransferInside.getApproveDate()</th>
            <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button> </th>
            <th>@TransferInside.status</th>
          </tr>
        }
      </tbody>
    </table>
  }

  <table class="table table-striped overlayTable">
    <thead>
      <tr>
        <th></th>
        <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
        <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
        <th>วันอนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
        <th>รายละเอียด</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      @for(TransferInside <- successList){
        <tr>
          <th> <input type="checkbox"/> </th>
          <th>@TransferInside.title</th>
          <th>@TransferInside.number</th>
          <th>@TransferInside.getApproveDate()</th>
          <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button> </th>
          <th>@TransferInside.status</th>
        </tr>
      }
    </tbody>
  </table>
  
</div> 

@footerFull()
