@(user : User, initList:List[models.durableArticles.Auction], successList:List[models.durableArticles.Auction])
@header("exportSold")

@nav(user)
@headerTag("ระบบจัดการรายการจำหน่าย")
@sideMenu(user)
<div class ="listWindowMaterial" >

    <div class="tableHeaderBtnContainer">

        <form>
            <div class="searchS">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">ค้นหา</span>
                        <input type="text" class="form-control" style="width:300px">
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportSold.exportCreateSold()">
                <button class="btn btn-success" style="width:100%">เพิ่มรายการจำหน่าย</button>
            </a>
            <button class="btn btn-danger width20p" style="float:right;">ลบรายการจำหน่าย</button>
        </div>
    </div>

    <table class="table table-striped overlayTable">
        <thead>
            <tr>
                <th></th>
                <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
                <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
                <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
                <th>สถาณประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
                <th>รายละเอียด</th>
            </tr>
        </thead>
        <tbody>
            @for(acution <- initList){
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>@acution.title</th>
                    <th>@acution.contractNo</th>
                    <th>@acution.getApproveDate()</th>
                    <th>@acution.status</th>
                    <th>
                        <a href="@routes.ExportSold.exportSoldAdd(acution.id)">
                            <button class="btn btn-xs btn-primary" > ทำรายการต่อ</button> 
                        </a>
                    </th>
                </tr>
            }
            </tr>
        </tbody>
    </table>

    <table class="table table-striped overlayTable">
        <thead>
            <tr>
                <th></th>
                <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
                <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
                <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
                <th>สถาณประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
                <th>รายละเอียด</th>
            </tr>
        </thead>
        <tbody>
            @for(acution <- successList){
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>@acution.title</th>
                    <th>@acution.contractNo</th>
                    <th>@acution.getApproveDate()</th>
                    <th>@acution.status</th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button> </th>
                </tr>
            }
        </tbody>
    </table>

</div> 

@footerFull()

