@(user : User, initList:List[models.durableArticles.OtherTransfer], successList:List[models.durableArticles.OtherTransfer])
@header("exportOther")

@nav(user)
@headerTag("ระบบจัดการรายการอื่นๆ")
@sideMenu(user)

<div class="listWindowMaterial">

   <div class="tableHeaderBtnContainer">
        <div class="searchS">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">ค้นหา</span>
                          <input type="text" class="form-control" style="width:300px">
                        </div>
                      </div>
                </form>
        </div>
        <div>
          <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportOther.exportCreateOther()">
            <button class="btn btn-success" style="width:100%">เพิ่มรายการ</button>
          </a>
            <button class="btn btn-danger width20p" style="float:right;">ลบรายการ</button>
        </div>
   </div>

  @if(!initList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
          <tr>
              <th></th>
              <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
              <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
              <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
              <th>สาเหตุโอนย้าย<span class="glyphicon glyphicon-sort"></span></th>
              <th>รายละเอียด</th>
          </tr>
      </thead>
      <tbody>
        @for(other <- initList){
          <tr>
            <th> <input type="checkbox"/> </th>
            <th>@other.title</th>
            <th>@other.number</th>
            <th>@other.getApproveDate()</th>
            <th>@other.status</th>
            <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button> </th>
          </tr>
        }
      </tbody>
    </table>
  }

  <table class="table table-striped overlayTable">
    <thead>
        <tr>
            <th></th>
            <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
            <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
            <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
            <th>สาเหตุโอนย้าย<span class="glyphicon glyphicon-sort"></span></th>
            <th>รายละเอียด</th>
        </tr>
    </thead>
    <tbody>
      @for(other <- successList){
        <tr>
          <th> <input type="checkbox"/> </th>
          <th>@other.title</th>
          <th>@other.number</th>
          <th>@other.getApproveDate()</th>
          <th>@other.status</th>
          <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button> </th>
        </tr>
      }
    </tbody>
  </table>

</div>

@footerFull()
