@(user : User, initList:List[models.durableArticles.Auction], successList:List[models.durableArticles.Auction])
@header("exportSold")

  <script src="@routes.Assets.at("javascripts/export/exportSold.js")"></script>

@nav(user)
@headerTag("ระบบจำหน่ายครุภัณฑ์")
@sideMenu(user)
<div class ="listWindowMaterial" ng-app="exportSoldApp" ng-Controller="exportDel">

@cancelList()
  <div class="tableHeaderBtnContainer">

  <form>
      <div class="searchS">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ค้นหา</span>
            <input type="text" class="form-control" style="width:300px">
          </div>
        </div>
      </div>

      <div>
        <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportSold.exportCreateSold()">
          <button type="button" class="btn btn-success" style="width:100%">เพิ่มรายการจำหน่าย</button>
        </a>
        <button class="btn btn-danger width20p" ng-click="openDelModal()" style="float:right;">ลบรายการจำหน่าย</button>
      </div>
    </form>
  </div>

  @if(!initList.isEmpty()) {
  <table class="table table-striped overlayTable">
    <thead>
      <tr>
        <th style="width:10px"  ></th>
        <th style="width:300px" >ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:100px" >เลขที่<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:150px" >วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:200px" >สถาณประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:125px" >ทำรายการต่อ</th>
      </tr>
    </thead>
    <tbody>
      @for(auction <- initList){
        <tr id="row@auction.id">
          <th onclick="addDeleteList(@auction.id)" > <span hidden>@auction.getBarcode()</span> <input type="checkbox" id="checkbox@auction.id" name="checkbox@auction.id"> </th>
          <th onclick="addDeleteList(@auction.id)" >@auction.title</th>
          <th>@auction.contractNo</th>
          <th>@auction.getApproveDate()</th>
          <th>@auction.getCompanyToString()</th>
          <th>
            <a href="@routes.ExportSold.exportSoldAdd(auction.id)">
              <button class="btn btn-xs btn-primary" > ทำรายการต่อ</button> 
            </a>
          </th>
        </tr>
      }
      </tr>
    </tbody>
  </table>
  }

  <table class="table table-striped overlayTable">
    <thead>
      <tr>
        <th style="width:10px"  ></th>
        <th style="width:300px" >ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:100px" >เลขที่<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:150px" >วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:200px" >สถาณประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:125px" >รายละเอียด</th>
      </tr>
    </thead>
    <tbody>
      @for(auction <- successList){
        <tr id="row@auction.id">
          <th onclick="addDeleteList(@auction.id)" > <span hidden>@auction.getBarcode()</span> <input type="checkbox" id="checkbox@auction.id" name="checkbox@auction.id"> </th>
          <th onclick="addDeleteList(@auction.id)" >@auction.title</th>
          <th>@auction.contractNo</th>
          <th>@auction.getApproveDate()</th>
          <th>@auction.getCompanyToString()</th>
          <th>
            <a href="@routes.ExportSold.viewDetail(auction.id)">
              <button class="btn btn-xs btn-info" > รายละเอียด </button> 
            </a>
          </th>
        </tr>
      }
    </tbody>
  </table>

</div> 

@footerFull()

