@(user : User , repair:models.durableArticles.Repairing, allCompany:List[models.Company])
@header("exportRepairReceive")

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/export/repair.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/getNameRepairAdd.js")"></script>
<!-- <body onload="in(@repair.id)"> -->

@nav(user)
@headerTagFull("รับคืน")

<div id="addWindows" class ="detailWindow" ng-app="userAccountModule" ng-controller="autoCompleteUserController">
  
  <form onsubmit=" return submitButtonClick()"name="addSold" method="post" action="@routes.ExportRepair.saveReceive(repair.id)" ng-init="findUser()">
    <div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">ชื่อรายการ</span>
            <input type="text" class="form-control width300px" value="@repair.title" name="title" id="title" autocomplete="off">
            <span class="alertText" id="titleAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">เลขที่</span>
            <input type="text" class="form-control width300px" value="@repair.number" name="number" id="number" autocomplete="off">
            <span class="alertText" id="numberAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>


      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group" id="dateP1">
            <span class="input-group-addon width250px">วัน/เดือน/ปี ส่งซ่อม</span>
            <input type="text" class="form-control width300px" value="@repair.getDateOfSentToRepair()" name="dateOfSentToRepair" id="dateOfSentToRepair" data-format="DD/MM/YYYY">
            <span class="input-group-addon width25px" id="datepickerbuttonP1">
              <span class="datepickerbutton glyphicon glyphicon-calendar"></span>
            </span>
            <span class="alertText" id="dateOfSentToRepairAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon width250px">สถานประกอบการที่ส่งซ่อม</span>
            <select class="form-control textAlignCenter  width300px" name="repairShop" id="repairShop">
              <option value="-1">---เลือก---</option>
              @for(company <- allCompany){
                <option value="@company.id" @if(company.equals(repair.company)){selected}>@company.nameEntrepreneur</option>
              }
            </select>
            <span class="alertText" id=""  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>


      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ผู้อนุมัติ:ชื่อ</span>
              <input type="text" class="form-control width190px textAlignCenter" autocomplete="off" @if(repair.approver != null){ value="@repair.approver.firstName" } name="approverFirstName" id="approverFirstName" onkeyup="mapInput2()">
              <span class="alertText" id="approverFirstNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">นามสกุล</span>
              <input type="text" class="form-control width190px textAlignCenter" autocomplete="off" @if(repair.approver != null){ value="@repair.approver.lastName" } name="approverLastName" id="approverLastName">
              <span class="alertText" id="approverLastNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ตำแหน่ง</span>
              <input type="text" class="form-control width190px textAlignCenter" autocomplete="off" @if(repair.approver != null){ value="@repair.approver.position" } name="approverPosition" id="approverPosition">
              <span class="alertText" id="approverPositionAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form" @if(repair.dateOfReceiveFromRepair == null){ style="display:none;"} >
        <div class="form-group">
          <div class="input-group" id="dateP2">
            <span class="input-group-addon width250px">วัน/เดือน/ปี ที่รับคืน</span>
            <input type="text" class="form-control width300px" value="@repair.getDateOfReceiveFromRepair()" name="dateOfResiveFromRepair" id="dateOfResiveFromRepair" data-format="DD/MM/YYYY">
            <span class="input-group-addon width25px" id="datepickerbuttonP2">
            <span class="datepickerbutton glyphicon glyphicon-calendar"></span>
            </span>
            <span class="alertText" id=""  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon width250px">ราคาซ่อมรวม (บาท) </span>
            <input type="text" class="form-control width300px"autocomplete="off" name="repairCosts" id="repairCosts">
            <span class="alertText" id="" > <i> * กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

    </div>

    <div class="well" >
      <h2 style ="text-align:center;">รายละเอียดครุภัณฑ์</h2>
      <div class="tableHeaderBtnContainer" >
        <div class="searchS">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">ค้นหา</span>
              <input type="text" class="form-control" style="width:300px" onkeydown="return (event.keyCode!=13);">
            </div>
          </div>
        </div>
      </div>

      <input value="@repair.detail.size()" name="numberOfDetail" id="numberOfDetail" hidden>

      <table class="table table-striped overlayTable" style="margin-bottom:3%;">
        <thead>
            <tr>
              <th style="text-align:center;">ลำดับ</th>
              <th style="text-align:center;">FSN <span class="glyphicon glyphicon-sort"></span></th>
              <th style="text-align:center;">ชื่อครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
              <th style="text-align:center;">ลักษณะการชำรุด ของครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
              <th style="text-align:center;">ราคาซ่อม</th>
            </tr>
        </thead>
        <tbody id="detailInTable">
          @for((detail,index) <- repair.detail.zipWithIndex){
            </tr>
              <th>@index</th>
              <th>@detail.durableArticles.code</th>
              <th>@detail.durableArticles.detail.fsn.descriptionDescription</th>
              <th>@detail.description</th>
              <th style="text-align:center;" ><input type="text" class="form-control textAlignCenter width175px"  value="0.00" onkeyup="getTotalPrice()"onkeydown="getTotalPrice()" id="price@index" name="price@index" ></th>
            </tr>
          }
        </tbody>
      </table>
    </div>  <!--end well-->


    <div align="center" style="margin-bottom:1%;" id="saveExport">
      <a href="@routes.ExportRepair.exportRepairing()">
        <button  type="button" class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;">
          <span class="glyphicon glyphicon-remove"></span> ย้อนกลับ
        </button>
      </a>
        <button type="submit" class="btn btn-success btn-lg width250px" style=" margin-top:1%;">
          ยืนยัน <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
  </form>

</div> 

@footerFull()
