@(user : User, initList:List[models.durableArticles.Borrow], borrowList:List[models.durableArticles.Borrow], successList:List[models.durableArticles.Borrow])
@header("exportBorrow")

    <script src="@routes.Assets.at("javascripts/export/exportBorrow.js")"></script>
@nav(user)
@headerTag("ระบบยืมและรับคืน")
@sideMenu(user)


<div class="listWindowMaterial" ng-app="exportBorrowApp" ng-Controller="exportDel">
@cancelList()
  <div class="tableHeaderBtnContainer">

    <div class="searchS">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ค้นหา</span>
          <input type="text" class="form-control" style="width:300px">
        </div>
      </div>
    </div>
    
    <div>
      <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportBorrow.exportCreateBorrow()">
        <button class="btn btn-success" style="width:100%">เพิ่มรายการยืม</button>
      </a>
      <button class="btn btn-danger width20p" style="float:right;" ng-click="openDelModal()">ลบรายการยืม</button>
    </div>

  </div>

  @if(!initList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th style="width:10px"  ></th>
          <th style="width:300px" > ชื่อรายการ <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:100px" > เลขที่ <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:150px" > วันที่เริ่มยืม <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:200px" > ผู้ยืมครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:125px" > ทำรายการต่อ </th>
          </tr>
      </thead>
      <tbody>
        @for(borrow <- initList){
          <tr id="row@borrow.id">
            <th onclick="addDeleteList(@borrow.id)" ><span hidden>@borrow.getBarcode()</span> <input type="checkbox" id="checkbox@borrow.id" name="checkbox@borrow.id"> </th>
            <th onclick="addDeleteList(@borrow.id)" >@borrow.title</th>
            <th>@borrow.number</th>
            <th>@borrow.getDateOfStartBorrow()</th>
            <th>@borrow.getWithdrawerToString()</th>
            <th>
              <a href="@routes.ExportBorrow.exportBorrowAdd(borrow.id)">
                <button class="btn btn-xs btn-primary" > ทำรายการต่อ </button> 
              </a>
            </th>
          </tr>
        }
      </tbody>
    </table>
  }

  @if(!borrowList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th style="width:10px"  ></th>
          <th style="width:300px" >ชื่อรายการ <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:100px" >เลขที่ <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:150px" >วันที่เริ่มยืม <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:200px" >ผู้ยืมครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
          <th style="width:125px" >คืนครุภัณฑ์</th>
          </tr>
      </thead>
      <tbody>
        @for(borrow <- borrowList){
          <tr id="row@borrow.id">
            <th onclick="addDeleteList(@borrow.id)" > <span hidden>@borrow.getBarcode()</span> <input type="checkbox" id="checkbox@borrow.id"> </th>
            <th onclick="addDeleteList(@borrow.id)" >@borrow.title</th>
            <th>@borrow.number</th>
            <th>@borrow.getDateOfStartBorrow()</th>
            <th>@borrow.getWithdrawerToString()</th>
            <th> 
              <a href="@routes.ExportBorrow.returnFromBorrow(borrow.id)">
                <button class="btn btn-xs btn-warning" > รับคืน </button> 
              </a>
              <a href="@routes.ExportBorrow.viewDetail(borrow.id)">
                <button class="btn btn-xs btn-info" > รายละเอียด </button> 
              </a>
            </th>
          </tr>
        }
      </tbody>
    </table>
  }

  <table class="table table-striped overlayTable">
    <thead>
      <tr>
        <th style="width:10px"  ></th>
        <th style="width:300px" > ชื่อรายการ <span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:100px" > เลขที่ <span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:150px" > วันที่เริ่มยืม <span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:200px" > ผู้ยืมครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
        <th style="width:125px" > รายละเอียด</th>
        </tr>
    </thead>
    <tbody>
      @for(borrow <- successList){
        <tr id="row@borrow.id">
          <th onclick="addDeleteList(@borrow.id)" > <span hidden>@borrow.getBarcode()</span> <input type="checkbox" id="checkbox@borrow.id"> </th>
          <th onclick="addDeleteList(@borrow.id)" >@borrow.title</th>
          <th>@borrow.number</th>
          <th>@borrow.getDateOfStartBorrow()</th>
          <th>@borrow.getWithdrawerToString()</th>
          <th> 
            <a href="@routes.ExportBorrow.viewDetail(borrow.id)">
              <button class="btn btn-xs btn-info" > รายละเอียด </button> 
            </a>
          </th>
        </tr>
      }
    </tbody>
  </table>

</div>

@footerFull()
