@(user : User)
@header("exportTransferOutSide")
   
@nav(user)
@headerTag("ระบบจัดการรายการโอนย้ายภายนอก")
@sideMenu(user)

<div class="listWindowMaterial">

   <div class="tableHeaderBtnContainer">
                <div class="searchS">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon">ค้นหา</span>
                                  <input type="text" class="form-control" style="width:300px">
                                </div>
                              </div>
                        </form>
                </div>
            <div>
                <a style="float:right;margin-left:1%;" class="width20p" href="@routes.Export.exportTransferOutSideAdd()">
                <button class="btn btn-success " style="width:100%">เพิ่มรายการโอนย้าย</button>
                </a>
                <button class="btn btn-danger width20p" style="float:right;">ลบรายการโอนย้าย</button>
            </div>
   </div>

   <table class="table table-striped overlayTable">
    <thead>
        <tr>
            <th></th>
            <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
            <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
            <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
            <th>หน่วงานที่โอนย้ายไป<span class="glyphicon glyphicon-sort"></span></th>
            <th>รายละเอียด</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th> <input type="checkbox"/> </th>
            <th>รายการส่งเสริมการศึกษา1</th>
            <th>1/57</th>
            <th>20/5/57</th>
            <th>กองคลัง ม.ธรรมศาสตร์</th>
            <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
        </tr>
    </tbody>
  </table>

</div>

@footerFull()
