@(user : User, initList:List[models.consumable.Requisition], successList:List[models.consumable.Requisition])
@header("exportOrder")

    <script src="@routes.Assets.at("javascripts/export/exportOrder.js")"></script>

@nav(user)
@headerTag("ระบบจัดการรายการเบิกจ่าย")
@sideMenu(user)


<div class="listWindowMaterial" ng-app="exportOrderApp" ng-Controller="exportDel">

@cancelList()
  <div class="tableHeaderBtnContainer">

    <div class="searchS">
      <form>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ค้นหา</span>
            <input type="text" class="form-control" style="width:300px">
          </div>
        </div>
      </form>
    </div>

    <div>
      <a style="float:right;margin-left:1%;" class="width20p" href="@routes.ExportOrder.exportCreateOrder()">
        <button class="btn btn-success" style="width:100%">เพิ่มรายการเบิกจ่าย</button>
      </a>
      <button class="btn btn-danger width20p" style="float:right;" ng-click="openDelModal()">ลบรายการเบิกจ่าย</button>
    </div>

  </div>

  @if(!initList.isEmpty()) {
    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th></th>
          <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
          <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
          <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
          <th>สถานะ</th>
          <th>รายละเอียด</th>
        </tr>
      </thead>

      <tbody>
        @for(requisition <- initList){
          <tr>
            <th> <input type="checkbox"/> </th>
            <th>@requisition.title</th>
            <th>@requisition.number</th>
            <th>@requisition.approveDateToString()</th>
            <th>@requisition.status</th>
            <th>
              <a href="@routes.ExportOrder.exportOrderAdd(requisition.id)">
                <button class="btn btn-xs btn-info" > ทำต่อ</button> 
              </a>
            </th>
          </tr>
        }
      </tbody>
    </table>
  }

  <table class="table table-striped overlayTable">
    <thead>
      <tr>
        <th></th>
        <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
        <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
        <th>วันที่อนุมัติ<span class="glyphicon glyphicon-sort"></span></th>
        <th>ผู้อนุมัติ</th>
        <th>รายละเอียด</th>
      </tr>
    </thead>
    <tbody>
      @for(requisition <- successList){
        <tr>
          <th> <input type="checkbox"/> </th>
          <th>@requisition.title</th>
          <th>@requisition.number</th>
          <th>@requisition.approveDateToString()</th>
          <th>@requisition.approverToString()</th>
          <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button> </th>
        </tr>
      }
    </tbody>
  </table>

</div>

@footerFull()
