@(user : User ,borrow:models.durableArticles.Borrow)
@header("exportBorrowviewDetail")

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="@routes.Assets.at("javascripts/printBarcode.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/export/mainExport.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/export/borrow.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/exportBorrowAdd.js")"></script>

<body onload="initViewDetial(@borrow.id)" ng-app="userAccountModule" ng-controller="autoCompleteUserController"> 

@nav(user)
@headerTagFull("เพิ่มรายการยืม")

@cancelList()
@cancelExportAdd()

<div id="addWindows" class ="detailWindow" ng-init="findUser()">

  <div>
    <button onclick="printBarcode('@borrow.getBarcode()')" class="btn btn-info btn-lg width250px" style="margin-bottom:1%;">ปริ้นบาร์โค้ด</button> 
    <button id="changeToEditButton" onclick="changeToEdit()" class="btn btn-warning btn-lg width250px" style="margin-bottom:1%;">แก้ไขรายละเอียด</button>
  </div>
  
  <form name="addSold" method="post" action="@routes.ExportBorrow.saveBorrow(borrow.id)">
    <div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">ชื่อรายการ</span>
            <input type="text" class="form-control width300px" value="@borrow.title" name="title" id="title">
            <span class="alertText" id="nameEntrepreneurAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon width250px">เลขที่</span>
            <input type="text" class="form-control width300px" value="@borrow.number" name="number" id="number">
            <span class="alertText" id="nameEntrepreneurAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group" id="dateP1">
            <span class="input-group-addon width250px">วัน/เดือน/ปี เริ่มยืม</span>
            <input type="text" class="form-control width300px" value="@borrow.getDateOfStartBorrow()" name="dateOfStartBorrow" id="dateOfStartBorrow" data-format="DD/MM/YYYY">
            <span class="input-group-addon width25px" id="datepickerbuttonP1"><span class="datepickerbutton glyphicon glyphicon-calendar"></span></span>
            <span class="alertText" id="nameEntrepreneurAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form" @if(borrow.dateOfEndBorrow == null){ hidden }>
        <div class="form-group">
          <div class="input-group" id="dateP2">
            <span class="input-group-addon width250px">วัน/เดือน/ปี รับคืน</span>
            <input type="text" class="form-control width300px" value="@borrow.getDateOfEndBorrow()" name="dateOfEndBorrow" id="dateOfEndBorrow" data-format="DD/MM/YYYY">
            <span class="input-group-addon width25px" id="datepickerbuttonP2"><span class="datepickerbutton glyphicon glyphicon-calendar"></span></span>
            <span class="alertText" id="nameEntrepreneurAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ผู้ยืม:ชื่อ</span>
              <input type="text" class="form-control width190px textAlignCenter" @if(borrow.user!=null){value="@borrow.user.firstName"} name="withdrawerFirstName" id="withdrawerNmae" onkeyup="mapInput1()">
              <span class="alertText" id="withdrawerNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">นามสกุล</span>
              <input type="text" class="form-control width190px textAlignCenter" @if(borrow.user!=null){value="@borrow.user.lastName"} name="withdrawerLastName" id="withdrawerLastname">
              <span class="alertText" id="withdrawerLastNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ตำแหน่ง</span>
              <input type="text" class="form-control width190px textAlignCenter" @if(borrow.user!=null){value="@borrow.user.position"} name="withdrawerPosition" id="withdrawerPosition">
              <span class="alertText" id="withdrawerPositionAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

      <div class="form-inline marginBtm1" role="form">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ผู้อนุมัติ:ชื่อ</span>
              <input type="text" class="form-control width190px textAlignCenter" @if(borrow.user!=null){value="@borrow.approver.firstName"} name="approverFirstName" id="approverName" onkeyup="mapInput2()">
              <span class="alertText" id="approverNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">นามสกุล</span>
              <input type="text" class="form-control width190px textAlignCenter" @if(borrow.user!=null){value="@borrow.approver.lastName"} name="approverLastName" id="approverLastName">
              <span class="alertText" id="approverLastNameAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon width125px">ตำแหน่ง</span>
              <input type="text" class="form-control width190px textAlignCenter" @if(borrow.user!=null){value="@borrow.approver.position"} name="approverPosition" id="approverPosition">
              <span class="alertText" id="approverPositionAlert"  > <i> *  กรุณาใส่ข้อมูลให้ครบถ้วน</i></span>
          </div>
        </div>
      </div>

    </div>

    <div class="well" >
      <h2 style ="text-align:center;">รายละเอียดครุภัณฑ์</h2>
      <div class="tableHeaderBtnContainer" >
        <div class="searchS">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">ค้นหา</span>
              <input type="text" class="form-control" style="width:300px" onkeydown="return (event.keyCode!=13);">
            </div>
          </div>
        </div>
        <div id="editDetail">
          <button type="button" class="btn btn-success width200px" style="float:right;margin-left:1%;" onclick="addDetailButton()">เพิ่มครุภัณฑ์</button>
          <button type="button" class="btn btn-danger width200px" style="float:right;" ng-click="openDeleteDetailModal()">ลบครุภัณฑ์</button>
        </div> 
      </div>

      <table class="table table-striped overlayTable" style="margin-bottom:3%;">
        <thead>
            <tr>
              <th></th>
              <th>ลำดับ</th>
              <th>FSN<span class="glyphicon glyphicon-sort"></span></th>
              <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
            </tr>
        </thead>
        <tbody id="detailInTable">

        </tbody>
      </table>
    </div>  <!--end well-->


    <div align="center" style="margin-bottom:1%;">
      <a href="@routes.ExportBorrow.exportBorrow()"> 
        <button type="button" class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;">
          <span class="glyphicon glyphicon-remove"></span> ยกเลิก
        </button>
      </a>
        <button id="saveExport" type="submit" class="btn btn-success btn-lg width250px" style=" margin-top:1%;">
          ยืนยัน <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
  </form>

</div> 

<div id="addDetailWindows" class="detailWindow">

  <div class="well" >
    <h2 style ="text-align:center;">รายการครุภัณฑ์</h2>

    <div class="form-inline marginBtm1" role="form" align="center">
      <div class="form-group" >
        <div class="input-group" >
          <span class="input-group-addon width250px" >รหัสFSN</span>
          <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" id="fsnCode" name="fsnCode" onkeydown="if (event.keyCode == 13) searchFSN()">
        </div>
      </div>
      <div class="form-group" >
        <div class="input-group" >
          <span class="input-group-addon width250px" >ชื่อครุภัณฑ์</span>
          <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" id="fsnDescription" name="fsnDescription" onkeydown="if (event.keyCode == 13) searchFSN()">
        </div>
      </div>
      <button type="button" class="btn btn-success" onclick="searchFSN()">ค้นหา</button>
    </div>

    <table class="table table-striped overlayTable">
      <thead>
        <tr>
          <th> <input type="checkbox"/> </th>
          <th>หมายเลขครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
          <th>รายละเอียดครุภัณฑ์ <span class="glyphicon glyphicon-sort"></span></th>
          <th>ราคาต่อหน่วย <span class="glyphicon glyphicon-sort"></span></th>
          <th>อายุการใช้งาน <span class="glyphicon glyphicon-sort"></span></th>
          <th>ที่อยู่ ครุภัณฑ์ (สาขาวิชา) <span class="glyphicon glyphicon-sort"></span></th>
        </tr>
      </thead>
      
      <tbody id="searchResultTable">

      </tbody>
    </table>
  </div>

  <div align="right" style="margin-bottom:1%; margin-right:3%;">

    <button class="btn btn-danger btn-lg width250px" onclick="addBorrowButton()" style="margin-top:1%;margin-right:1%;">
        <span class="glyphicon glyphicon-remove"></span> ยกเลิก
    </button>
    <button class="btn btn-success btn-lg width250px" onclick="saveDetail()" style=" margin-top:1%;">
      ยืนยัน <span class="glyphicon glyphicon-ok"></span>
    </button>

  </div>

</div>   <!--listWindowMaterial--> 

@footerFull()