@(user : User)
@header("admin")
    <script src="@routes.Assets.at("javascripts/controllers/adminUser.js")"></script>

@navAdmin(user)
@headerTag("ระบบระบบจัดการบัญชีผู้ใช้")
@sideMenu()

<div class ="mainWindow" style="margin-top:0; border:none;" ng-app="adminApp" ng-controller="adminCtrl">
    <div class ="headButtonAddDelete">
        <button class="btn btn-lg btn-danger btnFloatRight">ลบบัญชีผู้ใช้<span class="glyphicon glyphicon-minus"></span></button>
       <a href="@routes.Admin.addUser()"><button class="btn btn-lg btn-success btnFloatRight" style="margin-right:20px">เพิ่มบัญชีผู้ใช้<span class="glyphicon glyphicon-plus"></span></button></a>
        <a href="@routes.Admin.manageRole()"><button class="btn btn-lg btn-primary btnFloatRight" style="margin-right:20px">กำหนดหน้าที่<span class="glyphicon glyphicon-wrench"></span></button></a>

    </div>
    <div class="adminUserinfoTableContainer">
        <table class="table table-striped overlayTable">
            <thead>
                <tr>
                    <th> CH </th>
                    <th>สายงาน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ตำแหน่ง<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อ<span class="glyphicon glyphicon-sort"></span></th>
                    <th>สกุล<span class="glyphicon glyphicon-sort"></span></th>
                    <th>หน้าที่<span class="glyphicon glyphicon-sort"></span></th>
                    <th>สิทธการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
<!--   loop here --!>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ภาควิชา</th>
                    <th>เจ้าหน้าที่</th>
                    <th>อินทัช</th>
                    <th>เงินยวง</th>
                    <th>admin</th>
                    <th>1<input type="checkbox">2<input type="checkbox">3<input type="checkbox">4<input type="checkbox">5<input type="checkbox"></th>

            </tbody>
        </table>

        <div class="pagingContainer" align="center">
            <ul class="pagination" style="margin:0;">
              <li class="disabled"><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div> 

<a href="@routes.Application.user()" > User </a>
