@(users:List[User], user : User, allStatus:List[UserStatus])
@header("admin")
    <script src="@routes.Assets.at("javascripts/controllers/admin.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/submit.js")"></script>

@navAdmin(user)
@headerTag("ระบบจัดการบัญชีผู้ใช้")
@sideMenu(user)

<div class ="mainWindow" style="margin-top:0; border:none;" ng-app="adminApp" ng-controller="delUser">

        @adminDelUser()
        @adminEditUserRole(allStatus)
    <div class ="tableHeaderBtnContainer">
        
          @if(flash().containsKey("notSelect")){
            <div class="alert alert-danger adminAddDelUserAlert">
                <p>@flash().get("notSelect")</p>
            </div>
          }
          @if(flash().containsKey("delete")){
            <div class="alert alert-success adminAddDelUserAlert">
                <p>@flash().get("delete")</p>
            </div>
          }
        <a href="@routes.Admin.addUser()"><button class="btn btn-success btnFloatRight width200px">เพิ่มบัญชีผู้ใช้</button></a>
        <button class="btn btn-danger btnFloatRight width200px" style="margin-right:1%;" ng-click="open()">ลบบัญชีผู้ใช้</button>
        <a href="@routes.Admin.manageRole()"><button class="btn btn-primary btnFloatRight width200px" style="margin-right:1%">กำหนดสิทธิ</button></a>

    </div>

    <div class="adminUserinfoTableContainer">
        <table class="table table-striped overlayTable">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll" onchange="checkAll()"/></th>
                    <th>username<span class="glyphicon glyphicon-sort"></span></th>
                    <th>คำนำหน้า<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อ<span class="glyphicon glyphicon-sort"></span></th>
                    <th>สกุล<span class="glyphicon glyphicon-sort"></span></th>
                    <th>สายงาน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ตำแหน่ง<span class="glyphicon glyphicon-sort"></span></th>
                    <th>สิทธิ<span class="glyphicon glyphicon-sort"></span></th>
                    <th>แก้ไข</th>
                </tr>
            </thead>
            <tbody>
<!--   loop here -->
                @for(user<- users){
                    <tr id="row@user.username">
                        <th><input class="checkLists" id="@user.username" type="checkbox" onchange="addTick(@user.username)" onclick="isCheckAll()"></th>
                        <th onclick="addTick(@user.username);isCheckAll()">@user.username</th>
                        <th>@user.namePrefix</th>
                        <th>@user.firstName</th>
                        <th>@user.lastName</th>
                        <th>@user.departure</th>
                        <th>@user.position</th>
                        <th>@user.status.name</th>
                        <th><button class="btn btn-warning btn-xs" ng-click="openEditRole('@user.username')">แก้ไขสิทธื</button></th>
                        
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div> 

@footer("100")
