<script type="text/ng-template" id="delImportMaterial.html" >
  <div class="modal-header">
            <h2 class="modal-title"> Delete Insititute(s)
            </h2>
        </div>
        <div class="modal-body">
        
       <h3>
           Delete insititute:  {{nameEntrepreneur}}
       </h3>

        </div>

        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()"  style="float:right; margin-left:5%;">ยืนยัน</button>
            <button class="btn btn-danger" ng-click="cancel()" style="float:right;">ยกเลิก</button>
        </div>
</script>
