@(user : User)
@header("imports")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/home.css")">

@nav(user)
@headerTag("ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์")
@sideMenu()

<div class ="mainWindow" style="text-align:center;">

<a href="@routes.Application.exportOrder()">
<button class="btn btn-default" style="width:100%;">ระบบจัดเบิกจ่าย </button>
</a>
<a href="@routes.Application.transferInside()">
<button class="btn btn-default" style="width:100%;">ระบบโอนย้ายภายใน </button>
</a>
<a href="@routes.Application.transferOutSide()">
<button class="btn btn-default" style="width:100%;">ระบบโอนย้ายภายนอก</button>
</a>
<a href="@routes.Application.exportSold()">
<button class="btn btn-default" style="width:100%;">จำหน่าย</button>
</a>
<a href="@routes.Application.transferOutSide()">
<button class="btn btn-default" style="width:100%;">บริจาค</button>
</a>
<a href="@routes.Application.exportOther()">
<button class="btn btn-default" style="width:100%;">อื่น</button>
</a>

</div> 
@footer()
