@(user : User)
@header("exportSold")

@nav(user)
@headerTag("ระบบจัดการรายการจำหน่าย")
@sideMenu()
<div class ="listWindowMaterial" >
    <div class="tableHeaderBtnContainer">
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
            <div>
                <a style="float:right;margin-left:1%;"href="@routes.Export.exportSoldAdd()">
                <button class="btn btn-success">เพิ่มรายการจำหน่าย</button>
                </a>
                <button class="btn btn-danger" style="float:right;">ลบรายการจำหน่าย</button>
            </div>
   </div>

    <table class="table table-striped overlayTable">
    <thead>
        <tr>
            <th></th>
            <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
            <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
            <th>วันนำเข้า<span class="glyphicon glyphicon-sort"></span></th>
            <th>รายละเอียด</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th> <input type="checkbox"/> </th>
            <th>รายการส่งเสริมการศึกษา1</th>
            <th>1/57</th>
            <th>20/5/57</th>
            <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
        </tr>
    </tbody>
  </table>

  <div class="pagingContainer" align="center">
      <ul class="pagination" style="margin:0;">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
  </div>

</div> 

@footer()
