@(title :String)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/date-picker/bootstrap-datetimepicker.min.css ")">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <title>@title</title>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/date-picker/moment.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/date-picker/bootstrap-datetimepicker.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/formHandle.js")"></script>
</head>
