@(user : User, material:List[MaterialCode],da:List[models.durableArticles.DurableArticles])
@header("main")

@nav(user)
@headerTag("ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์")
@sideMenu(user)

<div class ="mainWindow">
        <div class="well">
            <legend>
                รายการแจ้งเตือนอายุการใช้งานครุภัณฑ์
            </legend>
            <table class="table table-striped overlayTable" align="center">
                <thead>
                    <tr>
                        <th style="text-align:center">ลำดับที่</th>
                        <th style="text-align:center">รายการ</th>
                        <th style="text-align:center">หมายเลขครุภัณฑ์</th>
                        <th style="text-align:center">อายุการใช้งานที่เหลือ/ปี</th>
                        <th style="text-align:center">เตือนอายุการใช้งาน/ปี</th>
                        <th style="text-align:center">ราคา/หน่วย</th>
                        <th style="text-align:center">วันที่นำเข้า</th>
                        <th style="text-align:center">ที่เก็บ</th>
                    </tr>
                </thead>
                <tbody>
                @for((dura,index) <- da.zipWithIndex){
                    <tr>
                        <th style="text-align:center">@{index+1}</th>
                        <th style="text-align:center">@dura.detail.description</th>
                        <th style="text-align:center">@dura.code</th>
                        <th style="text-align:center">@dura.detail.getCurrentLifeTime()</th>
                        <th style="text-align:center">@dura.detail.alertTime</th>
                        <th style="text-align:center">@dura.detail.price</th>
                        <th style="text-align:center">@dura.detail.procurement.getAddDate()</th>
                        <th style="text-align:center">ห้อง @dura.room</th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="well">
            <legend>
                รายการแจ้งเตือนจำนวนวัสดุ
            </legend>
                <table class="table table-striped overlayTable" align="center">
                    <thead>
                        <tr>
                            <th style="text-align:center"> ลำดับที่</th>
                            <th style="text-align:center"> รายการ </th>
                            <th style="text-align:center"> หน่วย </th>
                            <th style="text-align:center"> เลขที่วัสดุ </th>
                            <th style="text-align:center"> ราคาต่อหน่วย </th>
                            <th style="text-align:center"> คงเหลือ/จำนวน </th>
                            <th style="text-align:center"> แจ้งเตือน/จำนวน </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for((mc,index) <- material.zipWithIndex){
                            <tr >
                                <th class="danger" style="text-align:center">@{index+1}</th>
                                <th class="danger" style="text-align:center">@mc.description</th>
                                <th class="danger" style="text-align:center">@mc.classifier</th>
                                <th class="danger" style="text-align:center">@mc.code</th>
                                <th class="danger" style="text-align:center">@mc.pricePerEach</th>
                                <th class="danger" style="text-align:center">@mc.remain</th>
                                <th class="danger" style="text-align:center">@mc.minNumberToAlert</th>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
</div> 
@footerFull()
