@(user : User)
@header("importsOrderAddMaterialConsumable3")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>

@nav(user)
@headerTag("เพิ่มวัสดุสิ้นเปลืองลงสัญญาจัดซื้อ")

<div class="detailWindow">


<form>
จำนวนนำเข้าคงเหลือก่อนการกระจาย:<input type="number" placeholder="20"><br>

<fieldset>
	<legend>แยกย่อย</legend>
	สาขา:<input type="text" placeholder="ห้องพัสดุ"><br>
	จำนวนการกระจายต่อผู้รับ:<input type="number" placeholder="5"><br>
	ชื่อผู้รับ:<input type="text"><br>
	
	
</fieldset>


</form>

    <div>
       
            <button class="btn btn-success btn-lg" style="float:right; margin-top:1%;">ยืนยัน</button>

            <a href="@routes.Application.importsOrderAddMaterialConsumable2()">
            <button class="btn btn-danger btn-lg" style="float:right; margin-top:1%;margin-right:5%;">ย้อนกลับ</button>
            </a>
    </div>


</div>






