@(institutes:List[Company],user : User)
@header("importsInstitute")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/submit.js")"></script>

@nav(user)
@headerTag("ระบบลงทะเบียนสถานประกอบการ")

@sideMenu(user)

<div class="listWindow" ng-app="importsInstituteApp"  ng-controller="importsInstituteCtrl">

@importsInstituteOverlay()   <!--draw รายละเอียด -->
@delInsititute()

        <div class="tableHeaderBtnContainer">
                <div class="searchS">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon">ค้นหา</span>
                                  <input type="text" class="form-control" style="width:300px">
                                </div>
                              </div>
                        </form>
                </div>
                 <div>
                    <a style="float:right;margin-left:1%;" class="width20p" href="@routes.Import.importsInstituteAdd()">
                    <button class="btn btn-success" style="width:100%;">เพิ่มสถานประกอบการ</button>
                    </a>
                    <button class="btn btn-danger width20p" style="float:right;" ng-click="openDelModal()">ลบสถานประกอบการ</button>
                </div>
        </div>
        
        
         @if(flash().containsKey("delete1")){
        <div class="alert alert-success">
        	 <font size="5">@flash().get("delete1")</font> 
		</div>
		}
		@if(flash().containsKey("cantdelete1")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("cantdelete1")</font> 
		</div>
		}
		@if(flash().containsKey("notSelect")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("notSelect")</font> 
		</div>
		}
        
        <div class="adminUserinfoTableContainer">
            <table class="table table-striped overlayTable">
                

                <thead>
                    <tr>
                        <th></th>
                        <th>ซื่อสถานประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ผู้ค้า<span class="glyphicon glyphicon-sort"></span></th>
                        <th>เบอร์โทร<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ระยะเวลาในการชำระเงิน<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ระยะเวลาในการจัดส่ง<span class="glyphicon glyphicon-sort"></span></th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>

                  @for(institute<- institutes){
                    <tr>
                    <th><input id="@institute.id" type="checkbox" onclick="addTick(@institute.id,'@institute.nameEntrepreneur')"></th>
                    <th>@institute.nameEntrepreneur</th>
                    <th>@institute.nameDealer</th>
                    <th>@institute.address.telephoneNumber</th>
                    <th>@institute.payPeriod</th>
                    <th>@institute.sendPeriod</th>
                    <th> <a href="@routes.ImportDetail.importsInstituteDetail(institute.id)"> <button class="btn btn-xs btn-info" > รายละเอียด</button> </a> </th>
                    
                    </tr>
                  }
                </tbody>


            </table>

        </div> 
<!---->
</div>

@footer()
