@(user : User)
@header("importsMaterialDurableGoodsAdd")


@nav(user)
@headerTag("เพิ่มรายละเอียดวัสดุคงทนถาวร")



<div class="detailWindow">


<form>
รหัสกลุ่ม:<input type="number" placeholder="ใส่ค่า"> ชื่อกลุ่ม:<input type="text" placeholder="ใส่ค่า"><br>
รหัสประเภท<input type="number" placeholder="ใส่ค่า"> ชื่อรหัส:<input type="text" placeholder="ใส่ค่า"><br>
รหัสวัสดุ<input type="number" placeholder="ใส่ค่า">ชื่อวัสดุ<input type="text" placeholder="ใส่ค่า"><br>
ราคา<input type="number" placeholder="ใส่ค่า"> ราคารวมภาษี<input type="number" placeholder="ใส่ค่า"><br>


หน่วยงาน:<select name ="Asiasoft">
	<option>Asissoft</option>
	<option>Lotus</option>
	<option>ProBike</option>
<select><br>

อายุการใช้งาน:<input type="number" placeholder="ใส่ค่า"><br>

หน่วย:<select name ="อัน">
	<option>อัน</option>
	<option>ชิ้น</option>
	<option>เครื่อง</option>
<select><br>

ยี่ห้อ:<input type="text">หมายเลขเครื่อง:<input type="text"><br>
ผู้ติดต่อ:<input type="text">เบอร์โทรศัพท์:<input type="text"><br>
รูปภาพ<button>Browse</button>

<legend style="width:auto">ลายละเอียดเพิ่มเติม</legend>
<textarea class="form-control" rows="3"></textarea>

</form>

    <div>
            <a href="@routes.Application.importsMaterialDurableGoods()">
            <button class="btn btn-success btn-lg" style="float:right; margin-top:1%;">ยืนยัน</button>
            </a>
            <a href="@routes.Application.importsMaterialDurableGoods()">
            <button class="btn btn-danger btn-lg" style="float:right; margin-top:1%;margin-right:5%;">ยกเลิก</button>
            </a>
    </div>


</div>



