@(fsns:List[models.fsnNumber.FSN_Description],    goodsCode:List[MaterialCode]    ,user : User,tab : String)
@header("importsMaterial")

	<script src="@routes.Assets.at("javascripts/controllers/importMaterial.js")"></script>
	<script src="@routes.Assets.at("javascripts/controllers/submit.js")"></script>

@nav(user)
@headerTag("ระบบออกหมายเลขพัสดุ")

@sideMenu(user)
<div class="listWindowMaterial" ng-app="materialApp" ng-controller="delMaterial">

@delMaterial()
    <ul class="nav nav-tabs" role="tablist" id="imdTabs" style="height:42px; margin-bottom:10px;">
      <li class="active"><a href="#1" role="tab" data-toggle="tab">ครุภัณฑ์และวัสดุคงทนถาวร</a></li>
      <li><a href="#2" role="tab" data-toggle="tab">วัสดุสิ้นเปลือง</a></li>
    </ul>

	
    <div class="tab-content">


      <div class="tab-pane fade in active" id="1">
        <div class="tableHeaderBtnContainer" >
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
              <div>
                  <a style="float:right;margin-left:1%;" class="width20p" href="@routes.Import.importsMaterialDurableArticlesAdd()">
                  <button class="btn btn-success " style="width:100%;">เพิ่มครุภัณฑ์และวัสดุคงทนถาวร</button>
                  </a>
                  <button class="btn btn-danger width20p" style="float:right;" ng-click="open('durableArticles')">ลบครุภัณฑ์และวัสดุคงทนถาวร</button>
              </div>
        </div>
        @if(flash().containsKey("delete1")){
        <div class="alert alert-success">
        	 <font size="5">@flash().get("delete1")</font> 
		</div>
		}
		@if(flash().containsKey("cantdelete1")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("cantdelete1")</font> 
		</div>
		}
		@if(flash().containsKey("notSelect1")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("notSelect1")</font> 
		</div>
		}
		
         <table class="table table-striped overlayTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>FSN<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ชื่อลักษณะFSN<span class="glyphicon glyphicon-sort"></span></th>
                        <th>หน่วย<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>รูปภาพ</th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>


                  @for(fsn<- fsns){
                    <tr>
                    <th><input id="fsn.descriptionId" type="checkbox" onclick="addTick('@fsn.descriptionId','durableArticles','@fsn.descriptionDescription')"></th>
                    <th>@fsn.descriptionId</th>
                    <th>@fsn.descriptionDescription</th>
                    <th>@fsn.classifier</th>
                    <th>@fsn.typ.typeId</th>
                    <th>@fsn.typ.typeDescription</th>
                    <th>@fsn.typ.groupClass.classId</th>
                    <th>@fsn.typ.groupClass.classDescription</th>
                    <th>
                    	@if(fsn.fileType != null && fsn.fileType.contains("image")){
	                    	<a href="@routes.Assets.at(fsn.path)">
	                    		<img src="@routes.Assets.at(fsn.path)" alt="@fsn.fileName" style="width:40px;height:40px">
	                    	</a>
                    	}else{
                    		<a href="@routes.Assets.at(fsn.path)" download>
	                    		@fsn.fileName
	                    	</a>
                    	}
                    </th>
                    <th> <a href="@routes.ImportDetail.importsMaterialDurableArticlesDetail(fsn.descriptionId)"> <button class="btn btn-xs btn-info" > รายละเอียด</button> </a> </th>
                    </tr>
                  }
                </tbody>
           </table>
    </div>  <!--end id =1-->
<!-- ========================================== tab2 ============================================ -->

<!-- ========================================== tab2 ============================================ -->
      <div class="tab-pane fade" id="2">

          <div class="tableHeaderBtnContainer">
              <div class="searchS">
                  <form>
                      <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">ค้นหา</span>
                            <input type="text" class="form-control" style="width:300px">
                          </div>
                        </div>
                  </form>
              </div>
    
              <div>
                    <a style="float:right;margin-left:1%;" class="width20p" href="@routes.Import.importsMaterialConsumableGoodsAdd()">
                    <button class="btn btn-success" style="width:100%;">เพิ่มวัสดุสิ้นเปลือง</button>
                    </a>
                    <button class="btn btn-danger width20p" style="float:right;"  ng-click="open('consumableGoods')">ลบวัสดุสิ้นเปลือง</button>
              </div>

          </div>

		@if(flash().containsKey("delete2")){
        <div class="alert alert-success">
        	 <font size="5">@flash().get("delete2")</font> 
		</div>
		}
		@if(flash().containsKey("cantdelete2")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("cantdelete2")</font> 
		</div>
		}
		@if(flash().containsKey("notSelect2")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("notSelect2")</font> 
		</div>
		}

           <table class="table table-striped overlayTable">
             <thead>
                <tr>
                    <th></th>
                    <th>หมายเลขวัสดุสิ้นเปลือง<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อวัสดุสิ้นเปลือง<span class="glyphicon glyphicon-sort"></span></th>
                    <th>หน่วย<span class="glyphicon glyphicon-sort"></span></th>
                    <th>เวลาแจ้งเตือนกุหมดอายุ<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รหัสนำหน้า1<span class="glyphicon glyphicon-sort"></span></th>
                    <th>xxx<span class="glyphicon glyphicon-sort"></span></th>
                    <th>xxx<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รูปภาพ</th>
                    <th>รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
              @for(goodCode<- goodsCode){

                  <tr>
                  <th><input id="goodCode.code" type="checkbox" onclick="addTick('@goodCode.code','consumableGoods','@goodCode.description')"></th>
                  <th>@goodCode.code</th>
                  <th>@goodCode.description</th>
                  <th>@goodCode.classifier</th>
                  <th>@goodCode.minNumberToAlert</th>
                  <th>@goodCode.materialType.preCodeId</th>
                  <th>@goodCode.materialType.typeName</th>
                  <th>@goodCode.materialType.acronym</th>
                  <th>
                  	@if(goodCode.fileType != null && goodCode.fileType.contains("image")){
	                   	<a href="@routes.Assets.at(goodCode.path)">
	                   		<img src="@routes.Assets.at(goodCode.path)" alt="@goodCode.fileName" style="width:40px;height:40px">
	                   	</a>
                  	}else{
                  		<a href="@routes.Assets.at(goodCode.path)" download>
                   			@goodCode.fileName
                   		</a>
                  	}
                  </th>
                  <th> <a href="@routes.ImportDetail.importsMaterialConsumableGoodsDetail(goodCode.code)"> <button class="btn btn-xs btn-info" > รายละเอียด</button> </a> </th>
                  </tr>
                  
                }
             </tbody>
           </table>

        </div>  <!--end id=2-->

      </div> <!-- end tab content-->


  </div> <!--window material-->

<script>

  $(function () {

    $('#imdTabs a[href="#@tab"]').tab('show')
  })
</script>
@footerFull()
