@(order:models.durableGoods.Procurement,user : User, companies : List[models.Company])
@import java.text.SimpleDateFormat
@import java.util.Locale
@header("importsOrderDurableGoodsAdd")
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/importOrder.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/importOrderGoodsAdd.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/submit.js")"></script>
    <script src="@routes.Assets.at("javascripts/printBarcode.js")"></script>

@nav(user)
@headerTagFull("เพิ่มรายการวัสดุจัดซื้อและนำเข้า")

<body onload="document.saveOrderGood.title.focus()" ng-app="goodsCodeModule" ng-controller="autoCompleteGoods">
@cancelList()
    <div class="detailWindow" id="page1">
    
    
	@if(order.status.name == "SUCCESS"){
		<button onclick="printBarcode('@order.barCode')" class="btn btn-info btn-lg width250px" style="margin-bottom:1%;">ปริ้นบาร์โค้ด</button>
		<button id="editBtn1" onclick="removeDisable1()" class="btn btn-warning btn-lg width250px" style="margin-bottom:1%;">แก้ไขรายละเอียด</button>
	}
	<input id="orderStatus" type="hidden" value="@order.status.name">
	<input id="getUnchange" type="hidden" value="@order.getUNCHANGE()">
	
	<script>
		function removeDisable1(){
			if($('#orderStatus').val() == "SUCCESS"){
				$('#editBtn1').hide();
				$('#page1 :input').prop('disabled', false);
				$('#page1 select').prop('disabled', false);
				$('#orderStatus').val('');
				$('#b1').show();
				$('#add').show();
				$('#del').show();
			}
		}
	</script>
    
    
	
        <form name="saveOrderGood" id="saveOrderGood" method="post" action="@routes.Import.saveNewGoodsOrder()" onsubmit="return submitButtonClicks()" enctype="multipart/form-data">
	<input type="hidden" name="id" value="@order.id">
        <div class="form-inline marginBtm1" role="form" align="left">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width250px" >ชื่อรายการ</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="title" id="title" value="@order.title">
                        <span class="alertText" id="titleAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    </div>
              </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
              <div class="form-group" >
                    <div class="input-group">
                        <span class="input-group-addon width250px" >เลขที่</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="contractNo" id="contractNo" value="@order.contractNo">
                        <span class="alertText" id="contractNoAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    </div>
              </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
              <div class="form-group" >
                    <div class="input-group date" id="addDate">
                        <span class="input-group-addon width250px" >วันที่นำเข้า</span>
                        <input type="text" class="form-control textAlignCenter  width300px" data-format="DD/MM/YYYY" placeholder="ใส่ค่า" name="addDate_p" id="addDate_p" value="@if(order.addDate!=null){@(new SimpleDateFormat("dd/MM/yyyy", new Locale("th", "th")).format(order.addDate))}">
                        <span class="input-group-addon width25px"><span class="datepickerbutton glyphicon glyphicon-calendar"></span></span>
                        <span class="alertText" id="addDate_pAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    </div>
              </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
              <div class="form-group" >
                    <div class="input-group date" id="checkDate">
                        <span class="input-group-addon width250px" >วันที่ตรวจรับ</span>
                        <input type="text" class="form-control textAlignCenter  width300px" data-format="DD/MM/YYYY" placeholder="ใส่ค่า" name="checkDate_p" id="checkDate_p" value="@if(order.addDate!=null){@(new SimpleDateFormat("dd/MM/yyyy", new Locale("th", "th")).format(order.checkDate))}">
                        <span class="input-group-addon width25px"><span class="datepickerbutton glyphicon glyphicon-calendar"></span></span>
                        <span class="alertText" id="checkDate_pAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    </div>
              </div>
        </div>

       <div class="form-inline" role="form" align="left">
            <div class="input-group marginBtm1">
                <span class="input-group-addon width250px">ประเภทงบประมาณ</span>
                    <select class="form-control textAlignCenter  width300px" name="budgetType" id="budgetType" value="@order.budgetType">
                        <option value="ค." @if(order.budgetType != null && order.budgetType.contains("คลัง")) { selected }>งบคลัง</option>
                        <option value="พ." @if(order.budgetType != null && order.budgetType.contains("พิเศษ")) { selected }>งบพิเศษ</option>
                        <option value="กธ."@if(order.budgetType != null && order.budgetType.contains("ค่าธรรมเนียม")) { selected }>งบกองทุนค่าธรรมเนียม</option>
                        <option value="บ." @if(order.budgetType != null && order.budgetType.contains("บริจาค")) { selected }>งบบริจาค</option>
                        <option value="อ." @if(order.budgetType != null && order.budgetType.contains("อุทกภัย")) { selected }>งบอุทกภัย</option>
                    </select>
            </div>
        </div>
        
        <div class="form-inline" role="form" align="left">
            <div class="input-group marginBtm1">
                <span class="input-group-addon width250px">สถานประกอบการ</span>
                    <select class="form-control textAlignCenter  width300px" name="institute" value="@order.institute">
                        <option>---เลือก---</option>
                        @for(company <- companies){
                        	<option @if(order.institute ==company.nameEntrepreneur ){ selected}>@company.nameEntrepreneur</option>
                        }
                    </select>
            </div>
        </div>
        
        <div class="form-inline marginBtm1" role="form" align="left">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width250px" >ปีงบประมาณ</span>
                        <input type=number class="form-control textAlignCenter  width300px" onkeypress="validateNumberKey(event)" placeholder="ใส่ค่า" name="budgetYear" id="years" value="@if(order.status.name == "INIT"){@(new SimpleDateFormat("yy", new Locale("th", "th")).format(order.addDate))}else{@order.budgetYear}">
                        <span class="alertText" id="yearsAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    </div>
              </div>
        </div>
        
        
		<div align="center">
			<input type="file" class="btn-lg" name="attachFile">
		</div>  
        

		<input id="aiLists" type="hidden" name="aiLists" >
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

        <div class="well" ng-init="findUser()">
             <h3 style ="text-align:left;">คณะกรรมการตรวจรับ <button id="AiButton" type="button" class="btn btn-success width175px" style="float:right;margin-left:1%;" onclick="createAICommittee()">เพิ่มกรรมการตรวจรับ</button> </h3>
			
			
			<table class="table table-striped overlayTable" style="margin-bottom:3%;" id="ai_committee">
		        <thead>
		          <tr>
		            <th style ="text-align:center;"> คำนำหน้า </th>
		            <th style ="text-align:center;"> ชื่อ </th>
		            <th style ="text-align:center;"> นามสกุล </th>
		            <th style ="text-align:center;"> ตำแหน่ง </th>
		            <th style ="text-align:center;"> ประเภทกรรมการ </th>
		            <th style ="text-align:center;"> ตำแหน่งในคณะกรรมการ </th>
		            <th style ="text-align:center;"> ลบ </th>
		          </tr>
		        </thead>
		        <tbody class="form-inline marginBtm1" role="form">
		
		        </tbody>
	      	</table>

			<!--<div class="form-inline marginBtm1" role="form" id="ai_committee" ></div> -->
			
            </div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


    <div class = "well" >
      <h2 style ="text-align:center;">รายละเอียดวัสดุ</h2>

        <div class="tableHeaderBtnContainer" >
            <div class="searchS">
      
                    <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">ค้นหา</span>
                          <input type="text" class="form-control" style="width:300px">
                        </div>
                      </div>
           
            </div>
               <div > 
            	  <button id="add" style="float:right;margin-left:1%;" class="btn btn-success width200px" type="button" onclick="showPage('2');clearPage();reDisableRadio();hidePrintBarcode();">เพิ่มวัสดุ</button>
                  <button id="del" class="btn btn-danger width200px" style="float:right;" type="button" ng-click="openCancleDel('/import/removeProcurementDetail2')">ลบวัสดุ</button>
              </div>

        </div>

        @if(flash().containsKey("cantChange2")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("cantChange2")</font> 
		</div>
		}
		@if(flash().containsKey("candelete2")){
        <div class="alert alert-success">
        	 <font size="5">@flash().get("candelete2")</font> 
		</div>
		}
		@if(flash().containsKey("cantdelete2")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("cantdelete2")</font> 
		</div>
		}
		
           <table class="table table-striped overlayTable">
            <legend>วัสดุสำนักงาน</legend>
             <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll" onclick="tickAll(1)"/></th>
                    <th>หมายเลขวัสดุ<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อวัสดุ<span class="glyphicon glyphicon-sort"></span></th>
                    <th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>หน่วย<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รูปภาพ</th>
                    <th>รายละเอียด</th>
                </tr>
            </thead>
            <tbody id="goodList">

             </tbody>
           </table>

  </div> <!--well-->




<script type="text/javascript">
function enable()
{
$('input').prop("disabled",false);
}
</script>


        <div align="center" style="margin-bottom:1%;">
            <a href="@routes.Import.importsOrder2("2")">
                <button class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;" type="button" onclick="cancelStatus(@order.id,'good')">
                    <span class="glyphicon glyphicon-remove"></span> ยกเลิก
                </button>
            </a>
                <button id="b1" form="saveOrderGood" type="submit" class="btn btn-success btn-lg width250px" style=" margin-top:1%;"  onclick="enable()">
                    @if(order.status.name == "SUCCESS"){แก้ไข
                    }else{
                    ยืนยัน
                    }
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
        </div>
        
    	</form>  

    </div>   <!--listWindowMaterial--> 
    
    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
     <!-- ------------------------------------------------------------------------------------------------------------------------ -->
      <!-- ------------------------------------------------------------------------------------------------------------------------ -->
<div class="detailWindow" id="page2" >
	<button id="getBarcodeGoods" onclick="getDutableGoodsBarcode()" class="btn btn-info btn-lg width250px" style="margin-bottom:1%;display: none">ปริ้นบาร์โค้ด</button>
	<button id="editBtn2" onclick="removeDisable2()" hidden class="btn btn-warning btn-lg width250px" style="margin-bottom:1%;">แก้ไขรายละเอียด</button>
	<input id="isEditingOn" type="hidden" value="false">
	<script>
		function removeDisable2(){
			$('#editBtn2').hide();
			$('#isEditingOn').val('true');
			$('#page2 input').prop('disabled', false);
			$('#b2').show();
		}
	</script>
	

    <div class="well" ng-init="findGoods()">
		
		
		<input type="hidden" name="procurementId" value="@order.id">  <!-- id kong procument -->
		<input type="hidden" id="procurementDetailId" name="procurementDetailId">
		<input type="hidden" id="typeOfGoods" name="typeOfGoods">
 
        <div class="marginBtm1">
            <label class="radio-inline">
                <input type="radio" name="goodsRadio" id="Radio1" value="1" ng-click="radioClick()"> วัสดุคงทนถาวร
            </label>
            <label class="radio-inline">
                <input type="radio" name="goodsRadio" id="Radio2" value="0" ng-click="radioClick()"> วัสดุสิ้นเปลือง
            </label>
        </div>
        
        <div class="form-inline marginBtm1" role="form" align="left" >
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width250px" >รหัสวัสดุ</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="code" id="code" onkeyup="mapCodeToDescription()" disabled>
                        <span class="alertText" id="codeAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                        <span class="alertText" id="fsnAlert"  > <i> *  ไม่พบรหัสนี้ในระบบ</i></span>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width250px" >ชื่อวัสดุ</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="description" id="description"onkeyup="mapDescriptionToCode()" disabled>
                        <span class="alertText" id="descriptionAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    </div>
                </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width250px" >ราคา</span>
                        <input type="number" min="0" class="form-control textAlignCenter width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)" name="priceNoVat" id="priceNoVat" onkeyup="addVat()">
                        <span class="alertText" id="priceNoVatAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                </div>
            </div>
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width250px" >ราคารวมภาษี</span>
                        <input type="number" min="0" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)" name="price" id="price" onkeyup="decreaseVat()">
                        <span class="alertText" id="priceAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    </div>
                </div>
        </div>
        <input id="tax" value="@controllers.AppConfig.TAX" hidden>

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width250px" >จำนวน</span>
                    <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า"onkeypress="validateNumberKey(event)" name="quantity" id="quantity">
                    <span class="alertText" id="quantityAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                    <span class="alertText" id="numberFormatErrorQuantity"  > <i> *  กรุณากรอกเลขจำนวนเต็มบวก</i></span>
                </div>
            </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width250px" >พนักงานขาย</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="seller" id="seller">
                    <!--<span class="alertText" id="sellerAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>-->
                </div>
            </div>
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width250px" >เบอร์โทรศัพท์</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="phone" id="phone">
                    <!--<span class="alertText" id="phoneAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>-->
                </div>
            </div>
        </div>       

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width250px" >ยี่ห้อ</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="brand" id="brand">
                </div>
            </div>
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width250px" >หมายเลขเครื่อง</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" name="serialNumber" id="serialNumber">
                </div>
            </div>
        </div> 

   

    </div> <!--well-->


        <div align="center" style="margin-bottom:1%;">


            <button type="button" class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;" onclick="showPage('1')">
                <span class="glyphicon glyphicon-remove"></span> ยกเลิก
            </button>
            <button type="button" class="btn btn-success btn-lg width250px" style=" margin-top:1%;" onclick="submitToNext('good')">
                ถัดไป <span class="glyphicon glyphicon-chevron-right"></span>
            </button>

        </div>



</div> <!--detailWindow-->


    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
     <!-- ------------------------------------------------------------------------------------------------------------------------ -->
      <!-- ------------------------------------------------------------------------------------------------------------------------ -->

<div class="detailWindow" id="page3">
	<div class="well" >



			<div class="form-inline marginBtm1" role="form" align="left">
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width250px" >จำนวน</span>
	                    <input type="number" class="form-control textAlignCenter  width300px" disabled id="fixNumber">
	                </div>
	            </div>
	        </div>

		<fieldset>
		<legend>แยกย่อย</legend>

	 		<div id="spreadSupply"></div>

	
		</fieldset>


	

	</div> <!--well-->


        <div align="center" style="margin-bottom:1%;">
            <button type="button" class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;" onclick="showPage('2')">
	            <span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
	        </button>
 		<button id="b2" class="btn btn-success btn-lg width250px" style=" margin-top:1%;" onclick="showPage('1');submitDetail('/import/saveNewGoodsOrderDetail')" >
	            ยืนยัน <span class="glyphicon glyphicon-ok"></span>
	        </button>
        </div>


</div>

<script>
	
	if($('#orderStatus').val() == "SUCCESS" || $('#getUnchange').val() == 0){
		$('#page1 input').prop('disabled', true);
		$('#page1 select').prop('disabled', true);
		if($('#getUnchange').val() == 0){
			$('#editBtn1').prop('disabled', true);
		}
		
		$('#add').hide();
		$('#del').hide();
		$('#b1').hide();
		
		$('#search').prop('disabled', false);
	}


	retriveProcurement(@order.id,2);
</script>
    
 @footerFull()
