@(user : User)
@header("importsOrderDurableArticlesAddMaterial2")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>

@nav(user)
@headerTag("เพิ่มวัสดุลงสัญญาจัดซื้อ")

<div class="detailWindow">
	<div class="well" >

		<form>

			<div class="form-inline marginBtm1" role="form" align="left">
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >จำนวน</span>
	                    <input type="number" class="form-control textAlignCenter  width300px"placeholder="5"onkeypress="validateNumberKey(event)">
	                </div>
	            </div>
	        </div>

		<fieldset>
		<legend>แยกย่อย</legend>

	 	

		

<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->

	        <div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon width150px">สาขา</span>
		                    <select class="form-control textAlignCenter  width100px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
			<div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon width150px">สาขา</span>
		                    <select class="form-control textAlignCenter  width100px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
			<div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon width150px">สาขา</span>
		                    <select class="form-control textAlignCenter  width100px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
			<div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon width150px">สาขา</span>
		                    <select class="form-control textAlignCenter  width100px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
			<div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon width150px">สาขา</span>
		                    <select class="form-control textAlignCenter  width100px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width150px" >ชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->


		</fieldset>


		</form>

	</div> <!--well-->

    <div>
    	  	<a href="@routes.Application.importsOrderGoodsAdd()">
            <button class="btn btn-success btn-lg" style="float:right; margin-top:1%;">ยืนยัน</button>
            </a>

            <a href="@routes.Application.importsOrderGoodsAddMaterial1()">
            <button class="btn btn-danger btn-lg" style="float:right; margin-top:1%;margin-right:5%;">ย้อนกลับ</button>
            </a>
    </div>


</div>






