@(user : User)
@header("imports")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/home.css")">

@nav(user)
@headerTag("ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์")
@sideMenu()


<div class ="mainWindow" style="text-align:center;">


<div class="well wellCenter">
    <h3>
        ระบบจัดซื้อและนำเข้าวัสดุครุภัณฑ์ 
    </h3>
    <a href="@routes.Application.importsInstitute()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบโครงสร้างสถานประกอบการจัดซื้อและนำเข้า </button>
    </a>
    
    <a href="@routes.Application.importsMaterial()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบจัดการพัสดุ </button>
    </a>
    
    <a href="@routes.Application.importsOrder()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบจัดการรายการจัดซื้อและนำเข้า </button>
    </a>
</div>



</div> 
@footer()
