@(user : User,code : MaterialCode)
@header("importsMaterialDurableGoodsDetail")

<script src="@routes.Assets.at("javascripts/import/materialDurableGoodAdd.js")"></script>

@nav(user)
@headerTagFull("รายละเอียดวัสดุคงทนถาวร")

<body >
<div class="detailWindow" >

<!-- =============================================================================================================================== -->


<button onclick="changeValue();" class="btn btn-danger btn-lg width250px" style="margin-bottom:1%;">
	    	แก้ไขรายละเอียด
</button>
	    
	    <input id="activate" type="hidden" value=0>

<script type="text/javascript">

	$('document').ready(function()							//ทำก่อนเริ่มสร้างpage-
	{
		
		var value = $('#activate').val();					//get ค่า value-
		
		$('#fixButton').hide();								//ซ่อนปุ่ม (ด้านล่าง)-
		
		var inputs = $('input');							//ดึงค่าinput fieldทั้งหมดที่ไม่ใช่selected-
		
		$('select').prop('disabled',true);					//ปิดปุ่มselected-
		$('textarea').prop('disabled',true);				//ปิดปุ่มรายละเอียดอื่นๆ-
		$.each(inputs, function(i, input) {					//loopinput fieldทั้งหมด-
		    var chosenField = $(input);						//ดึงมาค่า-
		    chosenField.prop('disabled',true);				//ปิดค่าปุ่มที่ดึงมา-
		});
		$('#activate').val(1);
	});
	
	
	function enableToSend()
	{
		var value = $('#activate').val();					//get ค่า value-
		
		$('#fixButton').hide();								//ซ่อนปุ่ม (ด้านล่าง)-
		
		var inputs = $('input');							//ดึงค่าinput fieldทั้งหมดที่ไม่ใช่selected-
		
		$('select').prop('disabled',false);					//ปิดปุ่มselected-
		$('textarea').prop('disabled',false);				//ปิดปุ่มรายละเอียดอื่นๆ-
		$.each(inputs, function(i, input) {					//loopinput fieldทั้งหมด-
		    var chosenField = $(input);						//ดึงมาค่า-
		    chosenField.prop('disabled',false);				//ปิดค่าปุ่มที่ดึงมา-
		});
	}
	
    function changeValue()
    {
    	var value = $('#activate').val();
    	

    	if(value==0){
    		$('textarea').prop('disabled',true);		
    		$('#fixButton').hide();
    		$('#activate').val(1);
    	}
    	else
    	{
    		var inputs = $('input');
    		
    		$('#fixButton').show();
    		$('textarea').prop('disabled',false);	
    		$('#activate').val(0);
    	}
    }
</script>
	    

<!-- =============================================================================================================================== -->

    <form name="addDurableArticles" method="post" action="@routes.ImportDetail.saveNewMaterialDurableGoods()" onsubmit="return submitButtonClick()">
        <div class="well" >
            <h3 > เพิ่มวัสดุคงทนถาวร </h3>

            <input type="radio" name="chosenType" value="1" hidden="true" checked>   <!--parse value-->

                <div class="well">
                  <fieldset>
                    <legend style="width:auto">เลือกประเภทวัสดุคงทนถาวร</legend>

                    <table  class="table table-striped">
                      <tr>
                        <td><input type="radio" name="chosen" value="01" onclick="radioClick()" @if(code.materialType.preCodeId == "01"){checked}> วัสดุคงทนถาวรสำนักงาน(01)</td>
                        <td><input type="radio" name="chosen" value="02" onclick="radioClick()" @if(code.materialType.preCodeId == "02"){checked}> วัสดุคงทนถาวรไฟฟ้าและวิทยุ(02)</td>
                        <td><input type="radio" name="chosen" value="03" onclick="radioClick()" @if(code.materialType.preCodeId == "03"){checked}> วัสดุคงทนถาวรงานบ้านงานครัว(03)</td>
                        <td><input type="radio" name="chosen" value="04" onclick="radioClick()" @if(code.materialType.preCodeId == "04"){checked}> วัสดุคงทนถาวรคอมพิวเตอร์(04)</td>
                        <td><input type="radio" name="chosen" value="05" onclick="radioClick()" @if(code.materialType.preCodeId == "05"){checked}> วัสดุคงทนถาวรยานพาหนะและขนส่ง(05)</td>
                        <td><input type="radio" name="chosen" value="06" onclick="radioClick()" @if(code.materialType.preCodeId == "06"){checked}> วัสดุคงทนถาวรวิทยาศาสตร์และการแพทย์(06)</td>
                      </tr>

                      <tr>
                        <td><input type="radio" name="chosen" value="07" onclick="radioClick()" @if(code.materialType.preCodeId == "07"){checked}> วัสดุคงทนถาวรโฆษณาและเผยแพร่(07)</td>
                        <td><input type="radio" name="chosen" value="08" onclick="radioClick()" @if(code.materialType.preCodeId == "08"){checked}> วัสดุคงทนถาวรการศึกษา(08)</td>
                        <td><input type="radio" name="chosen" value="09" onclick="radioClick()" @if(code.materialType.preCodeId == "09"){checked}> วัสดุคงทนถาวรสนาม(09)</td>
                        <td><input type="radio" name="chosen" value="10" onclick="radioClick()" @if(code.materialType.preCodeId == "10"){checked}> วัสดุคงทนถาวรการเกษตร(10)</td>
                        <td><input type="radio" name="chosen" value="11" onclick="radioClick()" @if(code.materialType.preCodeId == "11"){checked}> วัสดุคงทนถาวรสำรวจ(11)</td>
                        <td><input type="radio" name="chosen" value="12" onclick="radioClick()" @if(code.materialType.preCodeId == "12"){checked}> วัสดุคงทนถาวรก่อสร้าง(12)</td>
                      </tr>

                      <tr>
                        <td><input type="radio" name="chosen" value="13" onclick="radioClick()" @if(code.materialType.preCodeId == "13"){checked}> วัสดุคงทนถาวรโรงงาน(13)</td>
                        <td><input type="radio" name="chosen" value="14" onclick="radioClick()" @if(code.materialType.preCodeId == "14"){checked}> วัสดุคงทนถาวรดนตรีและนาฏศิลทป์(14)</td>
                        <td><input type="radio" name="chosen" value="15" onclick="radioClick()" @if(code.materialType.preCodeId == "15"){checked}> วัสดุคงทนถาวรกีฬา(15)</td>
                        <td><input type="radio" name="chosen" value="16" onclick="radioClick()" @if(code.materialType.preCodeId == "16"){checked}> วัสดุคงทนถาวรอาวุธ(16)</td>
                        <td><input type="radio" name="chosen" value="17" onclick="radioClick()" @if(code.materialType.preCodeId == "17"){checked}> วัสดุคงทนถาวรอื่นๆ(17)</td>
                      </tr>

                    </table>

                  </fieldset>
              </div>
                <script>
                    function radioClick(){
                        document.getElementById("materialCode").value = document.querySelector('input[name="chosen"]:checked').value;
                        document.addDurableArticles.code.focus();
                    }
                </script>
              <div class="form-inline marginBtm1" role="form" align="center">
                    <div class="form-group" >
                          <div class="input-group" >
                              <span class="input-group-addon width250px" >รหัสวัสดุ</span>
                              <input type="text" class="form-control  textAlignCenter width300px"placeholder="ตัวอย่าง 01001 สองตัวแรกมาจากradioสามตัวหลังรันไล่เลข" value="@code.code" onkeypress="validateNumberKey(event)" name="code" id="materialCode" autocomplete="off" maxlength="5">
                                <span class="alertText" id="materialCodeAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                          </div>
                    </div>
                    <div class="form-group" >
                          <div class="input-group" >
                              <span class="input-group-addon width250px" >  ชื่อวัสดุ</span>
                              <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" value = "@code.description" name="description" autocomplete="off" id="description">
                              <span class="alertText" id="descriptionAlert"  > <i> *  กรุณาใส่ข้อมูลไห้ครบถ้วน</i></span>
                          </div>
                    </div>
              </div>

		
                <div class="form-inline" role="form" align="center">
                    <div class="input-group marginBtm1">
                      <span class="input-group-addon width250px">หน่วย</span>
                        <select class="form-control textAlignCenter  width300px" name="classifier">
                          <option>---เลือก---</option>
                          <option  @if(code.classifier == "อัน"){selected}>อัน</option>
                          <option  @if(code.classifier == "ชิ้น"){selected}>ชิ้น</option>
                          <option  @if(code.classifier == "เครื่อง"){selected}>เครื่อง</option>
                        </select>
                    </div>
                </div>

	
		       <div class="form-inline marginBtm1" role="form" align="center">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width250px" >อายุการใช้งาน</span>
                                <input type="number" class="form-control textAlignCenter  width300px" value="@code.lifeOfGood" name="lifeOfGood">
                            </div>
                      </div>
                </div>

		

		            <div class="form-inline marginBtm1" role="form" align="center">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width250px" >รูปภาพ</span>
                                <button>Browse</button>
                            </div>
                      </div>
                </div>


    <legend style="width:auto">รายละเอียดเพิ่มเติม</legend>
    <textarea class="form-control" rows="3" name="otherDetail">@code.otherDetail</textarea>
    </div> <!--well-->
            <div align="center" style="margin-bottom:1%;">
              <a href="@routes.Import.importsMaterial2("2")">
                  <button class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;" type="button">
                      <span class="glyphicon glyphicon-remove"></span> ยกเลิก
                  </button>
              </a>
              <a id="fixButton" href="@routes.Import.importsMaterial2("2")">
                  <button onclick="enableToSend();" type="submit" class="btn btn-success btn-lg width250px" style=" margin-top:1%;">
                      ยืนยัน <span class="glyphicon glyphicon-ok"></span>
                  </button>
              </a>

            </div>

    </form>

        

    </div>
</div>

@footerFull()
