@(fsns:List[models.fsnNumber.FSN_Description],user : User)
@header("importsMaterial")


@nav(user)
@headerTag("ระบบออกหมายเลขพัสดุ")

@sideMenu()

<div class="listWindowMaterial">
    <ul class="nav nav-tabs" role="tablist" id="imdTabs" style="height:42px; margin-bottom:10px;">
      <li class="active"><a href="#1" role="tab" data-toggle="tab">ครุภัณฑ์</a></li>
      <li><a href="#2" role="tab" data-toggle="tab">วัสดุคงทนถาวร</a></li>
      <li><a href="#3" role="tab" data-toggle="tab">วัสดุสิ้นเปลือง</a></li>
    </ul>

    <div class="tab-content">


      <div class="tab-pane fade in active" id="1">
        <div class="tableHeaderBtnContainer" >
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
              <div>
                  <a style="float:right;margin-left:1%;"href="@routes.Import.importsMaterialDurableArticlesAdd()">
                  <button class="btn btn-success width200px">เพิ่มครุภัณฑ์</button>
                  </a>
                  <button class="btn btn-danger width200px" style="float:right;">ลบครุภัณฑ์</button>
              </div>


        </div>

         <table class="table table-striped overlayTable">
            <legend>ครุภัณฑ์สำนักงาน 7510</legend>
                <thead>
                    <tr>
                        <th></th>
                        <th>FSN<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                        <th>หน่วย<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>xxxxx<span class="glyphicon glyphicon-sort"></span></th>
                        <th>รูปภาพ</th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>


                  @for(fsn<- fsns){
                    <tr>
                    <th><input type="checkbox"></th>
                    <th>@fsn.descriptionId</th>
                    <th>@fsn.descriptionDescription</th>
                    <th>@fsn.classifier</th>
                    <th>@fsn.typ.typeId</th>
                    <th>@fsn.typ.typeDescription</th>
                    <th>@fsn.typ.groupClass.classId</th>
                    <th>@fsn.typ.groupClass.classDescription</th>
                    <th><img src=""></th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button></th>
                    </tr>
                  }


                </tbody>
           </table>



            <div class="pagingContainer" align="center" style="float:left; width:100%;">
                <ul class="pagination" style="margin:0;">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
    </div>  <!--end id =1-->
<!-- ========================================== tab2 ============================================ -->
      <div class="tab-pane fade" id="2">
    
        <div class="tableHeaderBtnContainer">
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
            <div>
                  <a style="float:right;margin-left:1%;"href="@routes.Import.importsMaterialDurableGoodsAdd()">
                  <button class="btn btn-success width200px">เพิ่มวัสดุคงทนถาวร</button>
                  </a>
                  <button class="btn btn-danger width200px" style="float:right;">ลบวัสดุคงทนถาวร</button>
            </div>

        </div>


           <table class="table table-striped overlayTable">
            <legend>วัสดุคงทนถาวรสำนักงาน</legend>
             <thead>
                <tr>
                    <th></th>
                    <th>หมายเลขวัสดุคงทนถาวร<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                    <th>อายุการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รูปภาพ</th>
                    <th>รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>01001</th>
                    <th>ดินสอกดล็อตติ้งสีน้ำเงิน</th>
                    <th>75</th>
                    <th>1</th>
                    <th><img src=""></th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
                </tr>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>01002</th>
                    <th>ดินสอกดล็อตติ้งสีcแดง</th>
                    <th>75</th>
                    <th>1</th>
                    <th><img src=""></th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
                </tr>
             </tbody>
           </table>

            <table class="table table-striped overlayTable">
            <legend>วัสดุคงทนถาวรไฟฟ้าและวิทยุ</legend>
             <thead>
                <tr>
                    <th></th>
                    <th>หมายเลขวัสดุคงทนถาวร<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                    <th>อายุการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รูปภาพ</th>
                    <th>รายละเอียด</th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>02002</th>
                    <th>มอนิเตอร์</th>
                    <th>4999</th>
                    <th>1</th>
                    <th><img src=""></th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
                </tr>
              </tbody>
           </table>

            <div class="pagingContainer" align="center">
                <ul class="pagination" style="margin:0;">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
            </div>


        </div> <!--end id =2-->


<!-- ========================================== tab3 ============================================ -->
      <div class="tab-pane fade" id="3">

          <div class="tableHeaderBtnContainer">
              <div class="searchS">
                  <form>
                      <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">ค้นหา</span>
                            <input type="text" class="form-control" style="width:300px">
                          </div>
                        </div>
                  </form>
              </div>
    
              <div>
                    <a style="float:right;margin-left:1%;"href="@routes.Import.importsMaterialConsumableGoodsAdd()">
                    <button class="btn btn-success width200px">เพิ่มวัสดุสิ้นเปลือง</button>
                    </a>
                    <button class="btn btn-danger width200px" style="float:right;">ลบวัสดุสิ้นเปลือง</button>
              </div>

          </div>


           <table class="table table-striped overlayTable">
            <legend>วัสดุสิ้นเปลืองสำนักงาน</legend>
             <thead>
                <tr>
                    <th></th>
                    <th>หมายเลขวัสดุสิ้นเปลือง<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                    <th>อายุการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รูปภาพ</th>
                    <th>รายละเอียด</th>  
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>01011</th>
                    <th>หมึกดำ</th>
                    <th>75</th>
                    <th>1</th>
                    <th><img src=""></th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>

                </tr>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>01013</th>
                    <th>หมึกแดง</th>
                    <th>75</th>
                    <th>1</th>
                    <th><img src=""></th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>

                </tr>
             </tbody>
           </table>

            <div class="pagingContainer" align="center">
                <ul class="pagination" style="margin:0;">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>  <!--end id=3-->

      </div> <!-- end tab content-->


  </div> <!--window material-->

<script>
  $(function () {
    $('#imdTabs a:1').tab('show')
  })
</script>
@footer()
