@(user : User)
@header("imports")

@nav(user)
@headerTag("ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์")
@sideMenu()


<div class ="mainWindow" style="text-align:center;">


<div class="well wellCenter">
    <h3>
        ระบบจัดซื้อและนำเข้าวัสดุครุภัณฑ์ 
    </h3>
    <a href="@routes.Import.importsInstitute()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบโครงสร้างสถานประกอบการจัดซื้อและนำเข้า </button>
    </a>
    
    <a href="@routes.Import.importsMaterial()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบจัดการพัสดุ </button>
    </a>
    
    <a href="@routes.Import.importsOrder()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบจัดการรายการจัดซื้อและนำเข้า </button>
    </a>
</div>



</div> 
@footer()
