@(user : User)
@header("importsOrderDurableArticlesAdd")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>

@nav(user)
@headerTag("เพิ่มรายการครุภัณฑ์จัดซื้อและนำเข้า")

    <div class="detailWindow">
        <div class="well" >
        
                <form>

               <div class="form-inline marginBtm1" role="form" align="left">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >ชื่อรายการ</span>
                                <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                </div>

                <div class="form-inline marginBtm1" role="form" align="left">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >เลขที่</span>
                                <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                </div>

                <div class="form-inline marginBtm1" role="form" align="left">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >วันที่นำเข้า</span>
                                <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                </div>

                <div class="form-inline marginBtm1" role="form" align="left">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >วันที่ตรวจสอบ</span>
                                <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                </div>

                <div class="form-inline marginBtm1" role="form" align="left">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >ประเภทงบประมาณ</span>
                                <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                </div>

                <div class="form-inline marginBtm1" role="form" align="left">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >ปีงบประมาณ</span>
                                <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                </div>

                </form>  

                <legend>คณะกรรมการตรวจรับ</legend>
                <div class="form-inline marginBtm1" role="form">
                                      <div class="form-group" >
                                            <div class="input-group" >
                                                <span class="input-group-addon width100px" >คำนำหน้าชื่อ</span>
                                                <input type="number" class="form-control textAlignCenter  width50px"placeholder="ใส่ค่า">
                                            </div>
                                      </div>
                                      <div class="form-group" >
                                            <div class="input-group" >
                                                <span class="input-group-addon width50px" >ชื่อ</span>
                                                <input type="text" class="form-control textAlignCenter  width150px"placeholder="ใส่ค่า">
                                            </div>
                                      </div>
                                      <div class="form-group" >
                                            <div class="input-group" >
                                                <span class="input-group-addon width80px" >ตำแหน่ง</span>
                                                <input type="number" class="form-control textAlignCenter  width150px"placeholder="ใส่ค่า">
                                            </div>
                                      </div>


                                <div class="form-group" role="form">
                                    <div class="input-group marginBtm1">
                                      <span class="input-group-addon width150px">ประเภทกรรมการ</span>
                                        <select class="form-control textAlignCenter  width100px">
                                          <option>---เลือก---</option>
                                          <option>ข้าราชการ</option>
                                          <option>พนักงานมหาลัย</option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="form-group" role="form">
                                    <div class="input-group marginBtm1">
                                      <span class="input-group-addon width150px">ตำแหน่งในคณะกรรมการ</span>
                                        <select class="form-control textAlignCenter  width100px">
                                          <option>---เลือก---</option>
                                          <option>ประธารกรรมการ</option>
                                          <option>กรรมการ</option>
                                          <option>กรรมการและเรขานุการ</option>
                                        </select>
                                    </div>
                                </div>
                                 <button>ลบ</button>
                </div> <!--คณะกรรมการ-->

 <button>เพิ่ม</button>

                <legend>คณะกรรมการเปิดซอง</legend>
                <div class="form-inline marginBtm1" role="form">
                                      <div class="form-group" >
                                            <div class="input-group" >
                                                <span class="input-group-addon width100px" >คำนำหน้าชื่อ</span>
                                                <input type="number" class="form-control textAlignCenter  width50px"placeholder="ใส่ค่า">
                                            </div>
                                      </div>
                                      <div class="form-group" >
                                            <div class="input-group" >
                                                <span class="input-group-addon width50px" >ชื่อ</span>
                                                <input type="text" class="form-control textAlignCenter  width150px"placeholder="ใส่ค่า">
                                            </div>
                                      </div>
                                      <div class="form-group" >
                                            <div class="input-group" >
                                                <span class="input-group-addon width80px" >ตำแหน่ง</span>
                                                <input type="number" class="form-control textAlignCenter  width150px"placeholder="ใส่ค่า">
                                            </div>
                                      </div>


                                <div class="form-group" role="form">
                                    <div class="input-group marginBtm1">
                                      <span class="input-group-addon width150px">ประเภทกรรมการ</span>
                                        <select class="form-control textAlignCenter  width100px">
                                          <option>---เลือก---</option>
                                          <option>ข้าราชการ</option>
                                          <option>พนักงานมหาลัย</option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="form-group" role="form">
                                    <div class="input-group marginBtm1">
                                      <span class="input-group-addon width150px">ตำแหน่งในคณะกรรมการ</span>
                                        <select class="form-control textAlignCenter  width100px">
                                          <option>---เลือก---</option>
                                          <option>ประธารกรรมการ</option>
                                          <option>กรรมการ</option>
                                          <option>กรรมการและเรขานุการ</option>
                                        </select>
                                    </div>
                                </div>
                                 <button>ลบ</button>
                </div> <!--คณะกรรมการ-->

 <button>เพิ่ม</button>
                  
            </div> <!--well-->



        <div class="tableHeaderBtnContainer" >
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
                 <div style="width:300px;float:right;">
                    <a href="@routes.Import.importsOrderDurableArticlesAddMaterial1()">
                    <button class="btn btn-success" style="margin-left:15%;">เพิ่มครุภัณฑ์</button>
                    </a>

                    <button class="btn btn-danger">ลบครุภัณฑ์</button>
                </div>
        </div>


        
           <table class="table table-striped overlayTable">
            <legend>ครุภัณฑ์สำนักงาน</legend>
             <thead>
                <tr>
                    <th></th>
                    <th>FSN<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                    <th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>หน่วย<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                    <th>อายุการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>ศก.พ.57-7400-100-0005</th>
                    <th>กระดานดำ</th>
                    <th>2</th>
                    <th>อัน</th>
                    <th>5500</th>
                    <th>8</th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
                </tr>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>ศก.พ.57-7400-100-0006</th>
                    <th>บอร์ด</th>
                    <th>3</th>
                    <th>อัน</th>
                    <th>6500</th>
                    <th>10</th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
                </tr>
             </tbody>
           </table>





        <div class="pagingContainer" align="center">
            <ul class="pagination" style="margin:0;">
              <li class="disabled"><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
<!---->
        <div>
                <a href="@routes.Import.importsOrder()">
                <button class="btn btn-success btn-lg" style="float:right; margin-top:1%;">ยืนยัน</button>
                </a>
                
                <a href="@routes.Import.importsOrder()">
                <button class="btn btn-danger btn-lg" style="float:right; margin-top:1%;margin-right:5%;">ยกเลิก</button>
                </a>
        </div>

    </div>   <!--listWindowMaterial--> 
@footer()
