@(user : User)
@header("imports")

@nav(user)
@headerTag("ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์")
@sideMenu(user)


<div class ="mainWindow" style="text-align:center;">


<div class="well wellCenter">
    <h3>
        ระบบจัดซื้อและนำเข้าพัสดุ
    </h3>
    <a href="@routes.Import.importsInstitute()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบลงทะเบียนสถานประกอบการ</button>
    </a>
    
    <a href="@routes.Import.importsMaterial()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบออกหมายเลขพัสดุ </button>
    </a>
    
    <a href="@routes.Import.importsOrder()">
    <button class="btn btn-default btn-lg btn-block marginBtm1 shadowGray" style="width:100%;">ระบบนำเข้าพัสดุ </button>
    </a>
</div>



</div> 
@footer()
