@(articleOrders : List[models.durableArticles.Procurement],goodOrders : List[models.durableGoods.Procurement],user : User)
@header("importsOrder")


@nav(user)
@headerTag("ระบบนำเข้าพัสดุ")

@sideMenu(user)

<div class="listWindowMaterial">
    <ul class="nav nav-tabs" role="tablist" id="imdTabs" style="height:42px; margin-bottom:10px;">
      <li class="active"><a href="#1" role="tab" data-toggle="tab">ครุภัณฑ์</a></li>
      <li><a href="#2" role="tab" data-toggle="tab">วัสดุ</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="1">

        <div class="tableHeaderBtnContainer">
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
            
            <div>
                <a style="float:right;margin-left:1%;"href="@routes.Import.importsOrderDurableArticlesAdd()">
                <button class="btn btn-success width200px">เพิ่มรายการครุภัณฑ์</button>
                </a>
                <button class="btn btn-danger width200px" style="float:right;">ลบรายการครุภัณฑ์</button>
            </div>

        </div>

            <table class="table table-striped overlayTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
                        <th>วันนำเข้า<span class="glyphicon glyphicon-sort"></span></th>
                        <th>วันตรวจสอบ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ประเภทงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>สถานประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ปีงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>
                
                
                
					@for(articleOrder <- articleOrders){
	                    <tr>
	                        <th> <input type="checkbox"/> </th>
	                        <th>@articleOrder.id</th>
	                        <th>@articleOrder.title</th>
	                        <th>@articleOrder.contractNo</th>
	                        <th>@articleOrder.getAddDate()</th>
	                        <th>@articleOrder.getCheckDate()</th>
	                        <th>@articleOrder.budgetType</th>
	                        <th>@articleOrder.institute</th>
	                        <th>@articleOrder.budgetYear</th>
	                        <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
	                    </tr>
                    }
                    
                </tbody>
            </table>

            <div class="pagingContainer" align="center">
                <ul class="pagination" style="margin:0;">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
    </div>
<!-- ========================================== tab2 ============================================ -->
      <div class="tab-pane fade" id="2">

        <div class="tableHeaderBtnContainer">
            <div class="searchS">
                      <form>
                          <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">ค้นหา</span>
                                <input type="text" class="form-control" style="width:300px">
                              </div>
                            </div>
                      </form>
              </div>
              

              <div>
                  <a style="float:right;margin-left:1%;"href="@routes.Import.importsOrderGoodsAdd()">
                  <button class="btn btn-success width200px">เพิ่มรายการวัสดุ</button>
                  </a>
                  <button class="btn btn-danger width200px" style="float:right;">ลบรายการวัสดุ</button>
              </div>

        </div>
              <table class="table table-striped overlayTable">
                  <thead>
                      <tr>
                          <th></th>
                          <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
                          <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
                          <th>วันนำเข้า<span class="glyphicon glyphicon-sort"></span></th>
                           <th>xxx<span class="glyphicon glyphicon-sort"></span></th>
                          <th>รายละเอียด</th>
                      </tr>
                  </thead>

                  <tbody>
                   @for(goodOrder <- goodOrders){
	                    <tr>
	                        <th> <input type="checkbox"/> </th>
	                        <th>@goodOrder.title</th>
	                        <th>@goodOrder.contractNo</th>
	                        <th>@goodOrder.getAddDate()</th>
	                        <th>@goodOrder.status</th>
	                        <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button>
	                    </tr>
                    }

                  </tbody>
              </table>

          <div class="pagingContainer" align="center">
              <ul class="pagination" style="margin:0;">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
          </div>
      </div>

<!-- ========================================== tab3 ============================================ -->

     
  </div><!--end tab content-->

</div>
<script>
  $(function () {
    $('#imdTabs a:1').tab('show')
  })
</script>
@footer()



