@(institutes:List[Company],user : User)
@header("importsInstitute")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>

@nav(user)
@headerTag("ระบบลงทะเบียนสถานประกอบการ")

@sideMenu()

<div class="listWindow" ng-app="importsInstituteApp"  ng-controller="importsInstituteCtrl">

@importsInstituteOverlay()

        <div class="tableHeaderBtnContainer">
                <div class="searchS">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon">ค้นหา</span>
                                  <input type="text" class="form-control" style="width:300px">
                                </div>
                              </div>
                        </form>
                </div>
                 <div>
                    <a style="float:right;margin-left:1%;"href="@routes.Import.importsInstituteAdd()">
                    <button class="btn btn-success width200px">เพิ่มสถานประกอบการ</button>
                    </a>
                    <button class="btn btn-danger width200px" style="float:right;">ลบสถานประกอบการ</button>
                </div>



        </div>
        <div class="adminUserinfoTableContainer">
            <table class="table table-striped overlayTable">
                
<!--
                <thead>
                    <tr>
                        <th></th>
                        <th>ซื่อสถานประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ผู้ค้า<span class="glyphicon glyphicon-sort"></span></th>
                        <th>เบอร์โทร<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ระยะเวลาในการชำระเงิน<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ระยะเวลาในการจัดส่ง<span class="glyphicon glyphicon-sort"></span></th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        @for(institute<- institutes){
                        <tr>
                        <th><input type="checkbox"></th>
                        <th>@institute.nameEntrepreneur</th>
                        <th>@institute.nameDealer</th>
                        <th>xxxxxxxxx</th>
                        <th>@institute.payPeriod</th>
                        <th>@institute.sendPeriod</th>
                        <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button></th>
                        </tr>
                        }
                </tbody>
-->

                <thead>
                    <tr>
                        <th></th>
                        <th>1<span class="glyphicon glyphicon-sort"></span></th>
                        <th>2<span class="glyphicon glyphicon-sort"></span></th>
                        <th>3<span class="glyphicon glyphicon-sort"></span></th>
                        <th>4<span class="glyphicon glyphicon-sort"></span></th>
                        <th>5<span class="glyphicon glyphicon-sort"></span></th>
                        <th>6<span class="glyphicon glyphicon-sort"></span></th>
                        <th>7<span class="glyphicon glyphicon-sort"></span></th>
                        <th>8<span class="glyphicon glyphicon-sort"></span></th>
                        <th>9<span class="glyphicon glyphicon-sort"></span></th>
                        <th>10<span class="glyphicon glyphicon-sort"></span></th>
                        <th>11<span class="glyphicon glyphicon-sort"></span></th>


                        <th>12<span class="glyphicon glyphicon-sort"></span></th>
                        <th>13<span class="glyphicon glyphicon-sort"></span></th>
                        <th>14<span class="glyphicon glyphicon-sort"></span></th>
                        <th>15<span class="glyphicon glyphicon-sort"></span></th>
                        <th>16<span class="glyphicon glyphicon-sort"></span></th>
                        <th>17<span class="glyphicon glyphicon-sort"></span></th>
                        <th>18<span class="glyphicon glyphicon-sort"></span></th>
                        <th>19<span class="glyphicon glyphicon-sort"></span></th>
                        <th>20<span class="glyphicon glyphicon-sort"></span></th>
                        <th>21<span class="glyphicon glyphicon-sort"></span></th>
                        <th>22<span class="glyphicon glyphicon-sort"></span></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        @for(institute<- institutes){
                        <tr>
                        <th><input type="checkbox"></th>
                        
                        <th>@institute.typeEntrepreneur</th>
                        <th>@institute.typedealer</th>
                        <th>@institute.nameEntrepreneur</th>
                        <th>@institute.nameDealer</th>
                        <th>@institute.payCodition</th>
                        <th>@institute.payPeriod</th>
                        <th>@institute.sendPeriod</th>
                        <th>@institute.durableArticlesType</th>
                        <th>@institute.durableGoodsType</th>
                        <th>@institute.consumableGoodsType</th>
                        <th>@institute.otherDetail</th>


                        <th>@institute.address.buildingNo</th>
                        <th>@institute.address.village</th>
                        <th>@institute.address.alley</th>
                        <th>@institute.address.road</th>
                        <th>@institute.address.parish</th>
                        <th>@institute.address.district</th>
                        <th>@institute.address.province</th>
                        <th>@institute.address.telephoneNumber</th>
                        <th>@institute.address.fax</th>
                        <th>@institute.address.postCode</th>
                        <th>@institute.address.email</th>

                        </tr>
                        }
                </tbody>






            </table>

            <div class="pagingContainer" align="center">
                <ul class="pagination" style="margin:0;">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
           </div>
        </div> 
<!---->
</div>

@footer()
