@(articleOrders : List[models.durableArticles.Procurement],goodOrders : List[models.durableGoods.Procurement],user : User,tab : String)
@header("importsOrder")

	<script src="@routes.Assets.at("javascripts/controllers/importOrderForDeleteProcurement.js")"></script>
	<script src="@routes.Assets.at("javascripts/controllers/submit.js")"></script>


@nav(user)
@headerTag("ระบบนำเข้าพัสดุ")

@sideMenu(user)

<div class="listWindowMaterial" ng-app="importOrderApp" ng-controller="delOrder">
@delImportOrder()
    <ul class="nav nav-tabs" role="tablist" id="imdTabs" style="height:42px; margin-bottom:10px;">
      <li class="active"><a href="#1" role="tab" data-toggle="tab">ครุภัณฑ์</a></li>
      <li><a href="#2" role="tab" data-toggle="tab">วัสดุ</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="1">

        <div class="tableHeaderBtnContainer">
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
            <div>
                <a style="float:right;margin-left:1%;"href="@routes.Import.createImportsOrderDurableArticlesAdd()">
                <button class="btn btn-success width200px">เพิ่มรายการครุภัณฑ์</button>
                </a>
                <button class="btn btn-danger width200px" style="float:right;" ng-click="open('durableArticles')">ลบรายการครุภัณฑ์</button>
            </div>

        </div>
        
        @if(flash().containsKey("delete1")){
        <div class="alert alert-success">
        	 <font size="5">@flash().get("delete1")</font> 
		</div>
		}
		@if(flash().containsKey("delete2")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("delete2")</font> 
		</div>
		}
		@if(flash().containsKey("notSelect1")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("notSelect1")</font> 
		</div>
		}
			<table class="table table-striped overlayTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
                        <th>วันนำเข้า<span class="glyphicon glyphicon-sort"></span></th>
                        <th>วันตรวจสอบ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ประเภทงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>สถานประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ปีงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ไฟล์</th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>
                
                
                
					@for(articleOrder <- articleOrders){
	                    @if(articleOrder.status.name() == "INIT"){
	                    	<tr>
		                        <th><input id="articleOrder.id" type="checkbox" onclick="addTick('@articleOrder.id','durableArticles')"></th>
		                        <th>@articleOrder.id</th>
		                        <th>@articleOrder.title</th>
		                        <th>@articleOrder.contractNo</th>
		                        <th>@articleOrder.getAddDate()</th>
		                        <th>@articleOrder.getCheckDate()</th>
		                        <th>@articleOrder.budgetType</th>
		                        <th>@articleOrder.institute</th>
		                        <th>@articleOrder.budgetYear</th>
		                        <th>
								@if(articleOrder.fileType != null && articleOrder.fileType.contains("image")){
		                    	<a href="@routes.Assets.at(articleOrder.path)">
		                    		<img src="@routes.Assets.at(articleOrder.path)" alt="@articleOrder.fileName" style="width:40px;height:40px">
		                    	</a>
		                    	}else{
		                    		<a href="@routes.Assets.at(articleOrder.path)" download>
			                    		@articleOrder.fileName
			                    	</a>
		                    	}
		                        </th>
		                        <th> <button class="btn btn-xs btn-info" onclick="edit(@articleOrder.id,1)" > รายละเอียด</button>
	                    	</tr>
		                }
                    }
                    
                </tbody>
            </table>

            <table class="table table-striped overlayTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
                        <th>วันนำเข้า<span class="glyphicon glyphicon-sort"></span></th>
                        <th>วันตรวจสอบ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ประเภทงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>สถานประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ปีงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ไฟล์</th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>
                
                
                
					@for(articleOrder <- articleOrders){
						@if(articleOrder.status.name() == "SUCCESS"){
		                    <tr id="row@articleOrder.id">
		                        <th><input id="check@articleOrder.id" type="checkbox" onclick="addTick('@articleOrder.id','durableArticles')"></th>
		                        <th onclick="addTick('@articleOrder.id','durableArticles')">@articleOrder.id</th>
		                        <th><span hidden>@articleOrder.barCode</span>@articleOrder.title</th>
		                        <th>@articleOrder.contractNo</th>
		                        <th>@articleOrder.getAddDate()</th>
		                        <th>@articleOrder.getCheckDate()</th>
		                        <th>@articleOrder.budgetType</th>
		                        <th>@articleOrder.institute</th>
		                        <th>@articleOrder.budgetYear</th>
		                        <th>
								@if(articleOrder.fileType != null && articleOrder.fileType.contains("image")){
		                    	<a href="@routes.Assets.at(articleOrder.path)">
		                    		<img src="@routes.Assets.at(articleOrder.path)" alt="@articleOrder.fileName" style="width:40px;height:40px">
		                    	</a>
		                    	}else{
		                    		<a href="@routes.Assets.at(articleOrder.path)" download>
			                    		@articleOrder.fileName
			                    	</a>
		                    	}
		                        </th>
		                        <th> <button class="btn btn-xs btn-info" onclick="edit(@articleOrder.id,1)" > รายละเอียด</button>
		                    </tr>
		                }
                    }
                    
                </tbody>
            </table>
    </div>
<!-- ========================================== tab2 ============================================ -->
      <div class="tab-pane fade" id="2">

        <div class="tableHeaderBtnContainer">
            <div class="searchS">
                      <form>
                          <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">ค้นหา</span>
                                <input type="text" class="form-control" style="width:300px">
                              </div>
                            </div>
                      </form>
              </div>
              

              <div>
                  <a style="float:right;margin-left:1%;"href="@routes.Import.createImportsOrderGoodsAdd()">
                  <button class="btn btn-success width200px">เพิ่มรายการวัสดุ</button>
                  </a>
                  <button class="btn btn-danger width200px" style="float:right;" ng-click="open('goods')">ลบรายการวัสดุ</button>
              </div>

        </div>
        
        @if(flash().containsKey("delete3")){
        <div class="alert alert-success">
        	 <font size="5">@flash().get("delete3")</font> 
		</div>
		}
		@if(flash().containsKey("delete4")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("delete4")</font> 
		</div>
		}
		@if(flash().containsKey("notSelect2")){
        <div class="alert alert-danger">
        	 <font size="5">@flash().get("notSelect2")</font> 
		</div>
		}
			<table class="table table-striped overlayTable">
				<thead>
					<tr>
					<th></th>
					<th>ID<span class="glyphicon glyphicon-sort"></span></th>
					<th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
					<th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
					<th>วันนำเข้า<span class="glyphicon glyphicon-sort"></span></th>
					<th>วันตรวจสอบ<span class="glyphicon glyphicon-sort"></span></th>
					<th>ประเภทงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
					<th>สถานประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
					<th>ปีงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
					<th>ไฟล์</th>
					<th>รายละเอียด</th>
					</tr>
				</thead>
				
				<tbody>
				
				@for(goodOrder <- goodOrders){
					@if(goodOrder.status.name() == "INIT"){
						<tr>
							<th><input id="goodOrder.id" type="checkbox" onclick="addTick('@goodOrder.id','goods')"></th>
							<th>@goodOrder.id</th>
							<th>@goodOrder.title</th>
							<th>@goodOrder.contractNo</th>
							<th>@goodOrder.getAddDate()</th>
							<th>@goodOrder.getCheckDate()</th>
							<th>@goodOrder.budgetType</th>
							<th>@goodOrder.institute</th>
							<th>@goodOrder.budgetYear</th>
							<th>
								@if(goodOrder.fileType != null && goodOrder.fileType.contains("image")){
		                    	<a href="@routes.Assets.at(goodOrder.path)">
		                    		<img src="@routes.Assets.at(goodOrder.path)" alt="@goodOrder.fileName" style="width:40px;height:40px">
		                    	</a>
		                    	}else{
		                    		<a href="@routes.Assets.at(goodOrder.path)" download>
			                    		@goodOrder.fileName
			                    	</a>
		                    	}
		                    </th>
							<th> <button class="btn btn-xs btn-info" onclick="edit(@goodOrder.id,2)" > รายละเอียด</button>
						</tr>
					}
				}
				
				</tbody>
			</table>
			<table class="table table-striped overlayTable">
                  <thead>
                      <tr>
						<th></th>
						<th>ID<span class="glyphicon glyphicon-sort"></span></th>
						<th>ชื่อรายการ<span class="glyphicon glyphicon-sort"></span></th>
						<th>เลขที่<span class="glyphicon glyphicon-sort"></span></th>
						<th>วันนำเข้า<span class="glyphicon glyphicon-sort"></span></th>
						<th>วันตรวจสอบ<span class="glyphicon glyphicon-sort"></span></th>
						<th>ประเภทงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
						<th>สถานประกอบการ<span class="glyphicon glyphicon-sort"></span></th>
						<th>ปีงบประมาณ<span class="glyphicon glyphicon-sort"></span></th>
						<th>ไฟล์</th>
						<th>รายละเอียด</th>
                      </tr>
                  </thead>

                  <tbody>
                    
                    @for(goodOrder <- goodOrders){
	                    @if(goodOrder.status.name() == "SUCCESS"){
							<tr id="row2@goodOrder.id">
								<th><input id="check2@goodOrder.id" type="checkbox" onclick="addTick('@goodOrder.id','goods')"></th>
								<th onclick="addTick('@goodOrder.id','goods')">@goodOrder.id</th>
								<th><span hidden>@goodOrder.barCode</span>@goodOrder.title</th>
								<th>@goodOrder.contractNo</th>
								<th>@goodOrder.getAddDate()</th>
								<th>@goodOrder.getCheckDate()</th>
								<th>@goodOrder.budgetType</th>
								<th>@goodOrder.institute</th>
								<th>@goodOrder.budgetYear</th>
								<th>
								@if(goodOrder.fileType != null && goodOrder.fileType.contains("image")){
		                    	<a href="@routes.Assets.at(goodOrder.path)">
		                    		<img src="@routes.Assets.at(goodOrder.path)" alt="@goodOrder.fileName" style="width:40px;height:40px">
		                    	</a>
		                    	}else{
		                    		<a href="@routes.Assets.at(goodOrder.path)" download>
			                    		@goodOrder.fileName
			                    	</a>
		                    	}
		                        </th>
								<th> <button class="btn btn-xs btn-info" onclick="edit(@goodOrder.id,2)" > รายละเอียด</button>
							</tr>
						}
                    }

                  </tbody>
              </table>
      </div>

<!-- ========================================== tab3 ============================================ -->

     
  </div><!--end tab content-->

</div>
<script>
	$(function () {
		$('#imdTabs a[href="#@tab"]').tab('show')
	})
	
	function edit(id , tab){
		if(tab == 1){
			window.location = "/import/order/DurableArticlesAdd?id=" + id;
		}else if(tab == 2){
			window.location = "/import/order/GoodsAdd?id=" + id;
		}
	}
</script>
@footer()



