@(user : User)
@header("importsOrderDurableArticlesAddMaterial2")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>

@nav(user)
@headerTagFull("เพิ่มครุภัณฑ์ลงสัญญาจัดซื้อ")

<div class="detailWindow">
	<div class="well" >

		<form>

			<div class="form-inline marginBtm1" role="form" align="left">
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon width250px" >จำนวน</span>
	                    <input type="number" class="form-control textAlignCenter  width300px"placeholder="5"onkeypress="validateNumberKey(event)">
	                </div>
	            </div>
	        </div>

		<fieldset>
		<legend>แยกย่อย</legend>

	 	

		

<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->

	       	        <div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon">สาขา</span>
		                    <select class="form-control textAlignCenter  width300px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width75px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width50px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ศก.พ.57-7400-100-0005(01/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชื่อ/สกุล</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
	        <div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon">สาขา</span>
		                    <select class="form-control textAlignCenter  width300px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width75px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width50px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ศก.พ.57-7400-100-0005(02/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชื่อ/สกุล</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
	        <div class="form-inline marginBtm1" role="form" align="left">
	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon">สาขา</span>
		                    <select class="form-control textAlignCenter  width300px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width75px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width50px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ศก.พ.57-7400-100-0005(03/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชื่อ/สกุล</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
	        <div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon">สาขา</span>
		                    <select class="form-control textAlignCenter  width300px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width75px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width50px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ศก.พ.57-7400-100-0005(04/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชื่อ/สกุล</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->
	        <div class="form-inline marginBtm1" role="form" align="left">

	        	<div class="form-group" >
	        		<div class="input-group"> 
		                <span class="input-group-addon">สาขา</span>
		                    <select class="form-control textAlignCenter  width300px">
		                        <option>สาขาวิชาการละคอน</option>
		                        <option>สาขาวิชาศิลปะการออกแบบพัสตราภรณ์</option>
		                        <option>สาขาวิชาศิลปะการออกแบบอุตสาหกรรม</option>
		                        <option>สำนักงานเลขานุการ</option>
		                        <option>ห้องพัสดุ</option>
		                    </select>
		            </div>
	        	</div>

	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ห้อง</span>
	                    <input type="text" class="form-control textAlignCenter  width75px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชั้น</span>
	                    <input type="text" class="form-control textAlignCenter  width50px">
	                </div>
	            </div>
	        	<div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >รหัสFSN</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ศก.พ.57-7400-100-0005(05/05)">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >คำนำหน้าชื่อ</span>
	                    <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
	                </div>
	            </div>
	            <div class="form-group" >
	                <div class="input-group" >
	                    <span class="input-group-addon" >ชื่อ/สกุล</span>
	                    <input type="text" class="form-control textAlignCenter  width225px"placeholder="ใส่ค่า">
	                     <button>ตกลง</button>
	                </div>
	            </div>


	        </div>  
<!--ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff-->


		</fieldset>

		</form>

	</div> <!--well-->


        <div align="center" style="margin-bottom:1%;">
            <a href="@routes.Import.importsOrderDurableArticlesAddMaterial1()">
                <button class="btn btn-danger btn-lg width250px" style="margin-top:1%;margin-right:1%;">
                    <span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
                </button>
            </a>
            <a href="@routes.Import.importsOrderDurableArticlesAdd()">
                <button class="btn btn-success btn-lg width250px" style=" margin-top:1%;">
                    ยืนยัน <span class="glyphicon glyphicon-ok"></span>
                </button>
            </a>
        </div>




</div>



 @footerFull()
