@(user : User)
@header("importsOrderDurableArticlesAdd")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>

@nav(user)
@headerTag("เพิ่มรายการครุภัณฑ์จัดซื้อและนำเข้า")

<div class="detailWindow">

      <form>

     <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                  <div class="input-group" >
                      <span class="input-group-addon width150px" >ชื่อรายการ</span>
                      <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                  </div>
            </div>
      </div>

      <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                  <div class="input-group" >
                      <span class="input-group-addon width150px" >เลขที่</span>
                      <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                  </div>
            </div>
      </div>

      <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                  <div class="input-group" >
                      <span class="input-group-addon width150px" >วันที่นำเข้า</span>
                      <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                  </div>
            </div>
      </div>

      <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                  <div class="input-group" >
                      <span class="input-group-addon width150px" >วันที่ตรวจสอบ</span>
                      <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                  </div>
            </div>
      </div>

      <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                  <div class="input-group" >
                      <span class="input-group-addon width150px" >ประเภทงบประมาณ</span>
                      <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                  </div>
            </div>
      </div>

      <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                  <div class="input-group" >
                      <span class="input-group-addon width150px" >ปีงบประมาณ</span>
                      <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                  </div>
            </div>
      </div>

      </form>  





      <legend>คณะกรรมการตรวจรับ <button>เพิ่ม</button> </legend>
        <div class="form-inline marginBtm1" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon">คำนำหน้าชื่อ</span>
                        <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
                    </div>
              </div>
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon">ชื่อ/สกุล</span>
                        <input type="text" class="form-control textAlignCenter  width225px"placeholder="ใส่ค่า">
                    </div>
              </div>
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon" >ตำแหน่ง</span>
                        <input type="text" class="form-control textAlignCenter  width150px"placeholder="ใส่ค่า">
                    </div>
              </div>


        <div class="form-group" role="form">
            <div class="input-group marginBtm1">
              <span class="input-group-addon">ประเภทกรรมการ</span>
                <select class="form-control textAlignCenter  width150px">
                  <option>---เลือก---</option>
                  <option>ข้าราชการ</option>
                  <option>พนักงานมหาลัย</option>
                </select>
            </div>
        </div>

         <div class="form-group" role="form">
            <div class="input-group marginBtm1">
              <span class="input-group-addon">ตำแหน่งในคณะกรรมการ</span>
                <select class="form-control textAlignCenter  width200px">
                  <option>---เลือก---</option>
                  <option>ประธารกรรมการ</option>
                  <option>กรรมการ</option>
                  <option>กรรมการและเรขานุการ</option>
                </select>
            </div>
          </div>
          <button>ลบ</button>
      </div> <!--คณะกรรมการ-->


      <legend>คณะกรรมการเปิดซอง <button>เพิ่ม</button> </legend>
        <div class="form-inline marginBtm1" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon">คำนำหน้าชื่อ</span>
                        <input type="text" class="form-control textAlignCenter  width100px"placeholder="ใส่ค่า">
                    </div>
              </div>
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon" >ชื่อ/สกุล</span>
                        <input type="text" class="form-control textAlignCenter  width225px"placeholder="ใส่ค่า">
                    </div>
              </div>
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon" >ตำแหน่ง</span>
                        <input type="text" class="form-control textAlignCenter  width150px"placeholder="ใส่ค่า">
                    </div>
              </div>


        <div class="form-group" role="form">
            <div class="input-group marginBtm1">
              <span class="input-group-addon">ประเภทกรรมการ</span>
                <select class="form-control textAlignCenter  width150px">
                  <option>---เลือก---</option>
                  <option>ข้าราชการ</option>
                  <option>พนักงานมหาลัย</option>
                </select>
            </div>
        </div>

         <div class="form-group" role="form">
            <div class="input-group marginBtm1">
              <span class="input-group-addon">ตำแหน่งในคณะกรรมการ</span>
                <select class="form-control textAlignCenter  width200px">
                  <option>---เลือก---</option>
                  <option>ประธารกรรมการ</option>
                  <option>กรรมการ</option>
                  <option>กรรมการและเรขานุการ</option>
                </select>
            </div>
          </div>
          <button>ลบ</button>
      </div> <!--คณะกรรมการ-->
                  




        <div class="well" >
        <h2 style ="text-align:center;">รายละเอียดครุภัณฑ์</h2>

        <div class="tableHeaderBtnContainer" >
            <div class="searchS">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">ค้นหา</span>
                              <input type="text" class="form-control" style="width:300px">
                            </div>
                          </div>
                    </form>
            </div>
                 <div>
                    <a style="float:right;margin-left:1%;"href="@routes.Import.importsOrderDurableArticlesAddMaterial1()">
                    <button class="btn btn-success">เพิ่มครุภัณฑ์</button>
                    </a>
                    <button class="btn btn-danger" style="float:right;">ลบครุภัณฑ์</button>
                </div>

        </div>


        
           <table class="table table-striped overlayTable">
            <legend>ครุภัณฑ์สำนักงาน</legend>
             <thead>
                <tr>
                    <th></th>
                    <th>FSN<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ชื่อครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                    <th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>หน่วย<span class="glyphicon glyphicon-sort"></span></th>
                    <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                    <th>อายุการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                    <th>รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>ศก.พ.57-7400-100-0005</th>
                    <th>กระดานดำ</th>
                    <th>2</th>
                    <th>อัน</th>
                    <th>5500</th>
                    <th>8</th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button></th>
                </tr>
                <tr>
                    <th> <input type="checkbox"/> </th>
                    <th>ศก.พ.57-7400-100-0006</th>
                    <th>บอร์ด</th>
                    <th>3</th>
                    <th>อัน</th>
                    <th>6500</th>
                    <th>10</th>
                    <th> <button class="btn btn-xs btn-info" ng-click="open()" > รายละเอียด</button></th>
                </tr>
             </tbody>
           </table>

           </div>



        <!--__________________________________________________________________________-->
        



<!---->
        <div>
                <a href="@routes.Import.importsOrder()">
                <button class="btn btn-success btn-lg" style="float:right; margin-top:1%;">ยืนยัน</button>
                </a>
                
                <a href="@routes.Import.importsOrder()">
                <button class="btn btn-danger btn-lg" style="float:right; margin-top:1%;margin-right:5%;">ยกเลิก</button>
                </a>
        </div>

    </div>   <!--listWindowMaterial--> 
@footer()
