@(user : User)
@header("importsInstitute")


@nav(user)
@headerTag("เพิ่มรายละเอียดสถานประกอบการ");


<div class="detailWindow">


<form>


 					ประเภทผู้ประกอบการ<input type="radio"> นิติบุคคล
				  	<input type="radio"> บุคคลธรรมดา


				    <div class="form-inline" role="form" align="left">
	                    <div class="input-group marginBtm1">
	                      <span class="input-group-addon width150px">ประเภทผู้ค้า</span>
	                        <select class="form-control textAlignCenter  width300px">
	                          <option>---นิติบุคคล---</option>
	                          <option>ห้างหุ้นส่วนสามัญนิติบุคคล</option>
	                          <option>ห้างห้นส่วนจำกัด</option>
	                          <option>บริษัทจำกัด</option>
	                          <option>บริษัทมหาชนจำกัด</option>
	                          <option>กิจการร่วมค้า</option>
	                          <option>มูลนิธิ</option>
	                          <option>สหกรณ์</option>
	                          <option>องค์กรธุรกิจจัดตั้งหรือจดทะเบียนภายใต้กฎหมายเฉพาะ</option>
	                          <option>กิจการค้าร่วม</option>
	                          <option>หน่วยงานภาครัฐที่เบิกเงินผ่านระบบ GFMIS</option>
	                          <option>---บุคคลธรรมดา---</option>
	                          <option>คณะบุคคล</option>
	                          <option>กิจการร้านค้าเจ้าของคนเดียวหรือบุคคลธรรมดา</option>
	                          <option>ห้างหุ้นส่วนสามัญ</option>
	                        </select>
	                    </div>
                    </div>
	


				   <div class="form-inline marginBtm1" role="form">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >ชื่อสถานประกอบการ</span>
                                <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                   </div>

                   <div class="form-inline marginBtm1" role="form">
                      <div class="form-group" >
                            <div class="input-group" >
                                <span class="input-group-addon width150px" >ชื่อผู้ค้า</span>
                                <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                            </div>
                      </div>
                   </div>


		<div class="form-inline marginBtm1" role="form">

		 <div class="form-group" style="padding-top:10px">
				  	<div class="input-group">
					    <span class="input-group-addon" style="wiระเถdth:150px">ระยะเวลาในการชำระเงิน:</span>
					    <input type="number" class="form-control width100px" min="1" max="365" onkeypress="validateNumberKey(event)">
					</div>
				  </div>
				   <div class="form-group" style="padding-top:10px">
				  	<div class="input-group" style="margin-left:5%">
					    <span class="input-group-addon" style="width:150px">ระยะเวลาในการจัดส่ง:</span>
					    <input type="number" class="form-control width100px" min="1" max="365" onkeypress="validateNumberKey(event)">
					</div>
				  </div>
					
		</div>

<!--
    <div class="well" style="margin-top:1.5%;">
	<fieldset>
		<legend style="width:auto">ที่อยู่</legend>

-->

			<div class="form-inline" role="form" >
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >เลขที่</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >หมู่</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >ซอย</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >ถนน</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >ตำบล</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >อำเภอ</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >จังหวัด</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >เบอร์โทร</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >Fax</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >รหัสไปรษณีย์</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
           <div class="form-inline" role="form">
              <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >e-mail</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
              </div>
           </div>
	
<!--	
	</fieldset>
    </div>
-->

    <div class="well">
	<fieldset>
            <legend style="width:auto">ประเถทครุภัณฑ์</legend>
            <table class="table table-striped">
           
                <tr>
                    <td ><input type="checkbox"> ครุภัณฑ์สำนักงาน</td>
                    <td ><input type="checkbox"> ครุภัณฑ์ไฟฟ้าและวิทยุ</td>
                    <td ><input type="checkbox"> ครุภัณฑ์บ้านงานครัว</td>
                    <td ><input type="checkbox"> ครุภัณฑ์คอมพิวเตอร์</td>
                    <td ><input type="checkbox"> ครุภัณฑ์ยานพาหนะและขนส่ง</td>
                    <td ><input type="checkbox"> ครุภัณฑ์วิทยาศาสตร์และการแพทย์</td>
                </tr>
                <tr>
                    <td><input type="checkbox"> ครุภัณฑ์โฆษณาและเผยแพร่</td>
                    <td><input type="checkbox"> ครุภัณฑ์การศึกษา</td>
                    <td><input type="checkbox"> ครุภัณฑ์สนาม</td>
                    <td><input type="checkbox"> ครุภัณฑ์การเกษตร</td>
                    <td><input type="checkbox"> ครุภัณฑ์สำรวจ</td>
                    <td><input type="checkbox"> ครุภัณฑ์ก่อสร้าง</td>
                </tr>
                <tr>
                    <td><input type="checkbox"> ครุภัณฑ์โรงงาน</td>
                    <td><input type="checkbox"> ครุภัณฑ์ดนตรีและนาฏศิลทป์</td>
                    <td><input type="checkbox"> ครุภัณฑ์กีฬา</td>
                    <td><input type="checkbox"> ครุภัณฑ์อาวุธ</td>
                    <td><input type="checkbox"> ครุภัณฑ์อื่นๆ</td>
                </tr>

            </table>
  	
  	</fieldset>
    </div>

    <div class="well">
  	<fieldset>
	  	<legend style="width:auto">ประเถทวัสดุคงทนถาวร</legend>

	  	<table  class="table table-striped">
			<tr>
				<td ><input type="checkbox"> วัสดุคงทนถาวรสำนักงาน</td>
			  	<td ><input type="checkbox"> วัสดุคงทนถาวรไฟฟ้าและวิทยุ</td>
			  	<td ><input type="checkbox"> วัสดุคงทนถาวรงานบ้านงานครัว</td>
			  	<td ><input type="checkbox"> วัสดุคงทนถาวรคอมพิวเตอร์</td>
			  	<td ><input type="checkbox"> วัสดุคงทนถาวรยานพาหนะและขนส่ง</td>
			  	<td ><input type="checkbox"> วัสดุคงทนถาวรวิทยาศาสตร์และการแพทย์</td>
		  	</tr>

		  	<tr>
				<td><input type="checkbox"> วัสดุคงทนถาวรโฆษณาและเผยแพร่</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรการศึกษา</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรสนาม</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรการเกษตร</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรสำรวจ</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรก่อสร้าง</td>
		  	</tr>

		  	<tr>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรโรงงาน</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรดนตรีและนาฏศิลทป์</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรกีฬา</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรอาวุธ</td>
			  	<td><input type="checkbox"> วัสดุคงทนถาวรอื่นๆ</td>
		  	</tr>

	  	</table>

  	</fieldset>
    </div>

    <div class="well">
  	<fieldset>
	  	<legend style="width:auto">ประเถทวัสดุสิ้นเปลือง</legend>

	  	<table  class="table table-striped">
			<tr>
				<td ><input type="checkbox"> วัสดุสิ้นเปลืองสำนักงาน</td>
			  	<td ><input type="checkbox"> วัสดุสิ้นเปลืองไฟฟ้าและวิทยุ</td>
			  	<td ><input type="checkbox"> วัสดุสิ้นเปลืองบ้านงานครัว</td>
			  	<td ><input type="checkbox"> วัสดุสิ้นเปลืองคอมพิวเตอร์</td>
			  	<td ><input type="checkbox"> วัสดุสิ้นเปลืองยานพาหนะและขนส่ง</td>
			  	<td ><input type="checkbox"> วัสดุสิ้นเปลืองวิทยาศาสตร์และการแพทย์</td>
		  	</tr>

		  	<tr>
				<td><input type="checkbox"> วัสดุสิ้นเปลืองโฆษณาและเผยแพร่</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองการศึกษา</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองสนาม</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองการเกษตร</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองสำรวจ</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองก่อสร้าง</td>
		  	</tr>

		  	<tr>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองโรงงาน</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองดนตรีและนาฏศิลทป์</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองกีฬา</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองอาวุธ</td>
			  	<td><input type="checkbox"> วัสดุสิ้นเปลืองอื่นๆ</td>
		  	</tr>

	  	</table>

  	</fieldset>
    </div>

 
  	<legend style="width:auto">รายละเอียดเพิ่มเติม</legend>
  	<textarea class="form-control" rows="3"></textarea>


 </form>
    <div>
            <a href="@routes.Application.importsInstitute()">
            <button class="btn btn-success btn-lg" style="float:right; margin-top:1%; margin-bottom:2%;">ยืนยัน</button>
            </a>
            <a href="@routes.Application.importsInstitute()">
            <button class="btn btn-danger btn-lg" style="float:right; margin-top:1%;margin-right:5%;">ยกเลิก</button>
            </a>
    </div>
</div>

@footer()
