@(user : User)
@header("importsOrderDurableArticlesAddMaterial1")
    <script src="@routes.Assets.at("javascripts/controllers/importsInstitute.js")"></script>

@nav(user)
@headerTag("เพิ่มครุภัณฑ์ลงสัญญาจัดซื้อ")

<div class="detailWindow">
    <div class="well" >

        <form>
        
        <div class="form-inline marginBtm1" role="form" align="left">
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >ชื่อครุภัณฑ์</span>
                        <input type="number" name="groupCode" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)">
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >รหัสFSN</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
                </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >ราคา</span>
                        <input type="number" min="0" class="form-control textAlignCenter width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)">
                </div>
            </div>
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >ราคารวมภาษี</span>
                        <input type="number" min="0" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)">
                    </div>
                </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >จำนวน</span>
                    <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า"onkeypress="validateNumberKey(event)">
                </div>
            </div>
        </div>


        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >รหัสจากคลัง</span>
                    <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า"onkeypress="validateNumberKey(event)">
                </div>
            </div>
        </div>

        <div class="form-inline" role="form" align="left">
            <div class="input-group marginBtm1">
                <span class="input-group-addon width150px">หน่วยงาน</span>
                    <select class="form-control textAlignCenter  width300px">
                        <option>---เลือก---</option>
                        <option>Asissoft</option>
                        <option>Lotus</option>
                        <option>ProBike</option>
                    </select>
            </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >อายุการใช้งาน</span>
                    <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)">
                </div>
            </div>
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >เวลาแจ้งเตือนก่อนหมดอายุการใช้งาน</span>
                    <input type="number" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)">
                </div>
            </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >พนักงานขาย</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                </div>
            </div>
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >เบอร์โทรศัพท์</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                </div>
            </div>
        </div>       

        <div class="form-inline marginBtm1" role="form" align="left">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >ยี่ห้อ</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                </div>
            </div>
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon width150px" >หมายเลขเครื่อง</span>
                    <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                </div>
            </div>
        </div> 


        <fieldset>
        <legend>ตัวช่วยกรอง</legend>

        <div class="form-inline marginBtm1" role="form" align="left">
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >รหัสกลุ่ม</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >ชื่อกลุ่ม</span>
                        <input type="number" name="groupCode" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)">
                    </div>
                </div>
        </div>

        <div class="form-inline marginBtm1" role="form" align="left">
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >รหัสประเภท</span>
                        <input type="text" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า">
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon width150px" >ชื่อรหัส</span>
                        <input type="number" name="groupCode" class="form-control textAlignCenter  width300px"placeholder="ใส่ค่า" onkeypress="validateNumberKey(event)">
                    </div>
                </div>
        </div>
        
       
        รูปภาพ<img src="">
        </fieldset>


        </form>

    </div> <!--well-->

        <div>
                <a href="@routes.Application.importsOrderDurableArticlesAddMaterial2()">
                <button class="btn btn-success btn-lg" style="float:right; margin-top:1%;">ยืนยัน</button>
                </a>
               	
               	<a href="@routes.Application.importsOrderDurableArticlesAdd()">
                <button class="btn btn-danger btn-lg" style="float:right; margin-top:1%;margin-right:5%;">ยกเลิก</button>
                </a>
        </div>
</div> <!--detailWindow-->
@footer()
