@header("login")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/login.css")">
<script>

    function init(){
        document.loginForm.username.focus();
    }
</script>

<body onload="init()" >
<h1 align="center" class="titleHeader" style="top:1%"> ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์ </h1>
<h4 class="titleLine"></h4>

    <div class="loginContainer">
        <div class ="loginPicture">
                  <!--<img src="@routes.Assets.at("images/tuLogo.png")"style="width:85%;" alt="โลโก้คณะศิลปกรรมศาสตร์">-->
                  <img src="@routes.Assets.at("images/Logo.png") "style="width:85%;" alt="โลโก้คณะศิลปกรรมศาสตร์">
        </div>  
        <div class="loginInput" >
            <form method="post" action="@routes.Application.authentication()" name="loginForm" autocomplete="off">
                <div class="inputBox">
                    <div class ="input-group input-group-lg" style="margin-bottom:5%;">
                        <span class="input-group-addon loginInputSpan"> Username </span>
                        <input name="username" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class ="input-group input-group-lg">
                        <span class="input-group-addon loginInputSpan"> Password</span>
                        <input name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class ="">
                    <button class="btn btn-block btn-lg btn-success inputBox"> Login </button>
                </div> 
            </form>
        </div>
    </div>

    @footerFull()
