@(user : User)
@header("admin")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/home.css")">

@navAdmin(user)
@headerTag("ระบบจัดการบัญชีผู้ใช้")
@sideMenu()

<div class ="mainWindow">
    <form role="form" class="form-horizontal" name="userProfileForm"  method="post">
        <div class="well wellSize" align="center" > <h3> กำหนดสิทธิ</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>สิทธิ<span class="glyphicon glyphicon-sort"></span></th>
                            <th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
                            <th>1<span ></span></th>
                            <th>2<span ></span></th>
                            <th>3<span ></span></th>
                            <th>4<span ></span></th>
                            <th>ลบ<span ></span></th>
                        </tr>
                    </thead>
                    <tbody>
        <!--   loop here -->
                        <tr>
                            <th>เจ้าหน้าที่</th>
                            <th>5</th>
                            <th><input type="checkbox"></th>
                            <th><input type="checkbox"></th>
                            <th><input type="checkbox"></th>
                            <th><input type="checkbox"></th>
                            <th><button> ลบ </button></th>
                    </tbody>
                </table>
            <button>เพิ่ม</button>
        </div>
    </form>

    <div align="center" style="margin-bottom:1%;">
        <a href="@routes.Admin.index()">
            <button class="btn btn-danger btn-lg width125px" style="margin-top:1%;margin-right:1%;">
                <span class="glyphicon glyphicon-remove"></span> ยกเลิก
            </button>
        </a>
        <a href="@routes.Admin.index()">
            <button class="btn btn-success btn-lg width125px" style=" margin-top:1%;">
                ยืนยัน <span class="glyphicon glyphicon-ok"></span>
            </button>
        </a>
    </div>
</div> 

@footer()
