@(user : User ,usersStatus : List[UserStatus]) 
@header("admin")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/home.css")">
<script src="@routes.Assets.at("javascripts/controllers/submit.js")"></script>
<script src="@routes.Assets.at("javascripts/controllers/admin.js")"></script>
@navAdmin(user) @headerTag("ระบบจัดการบัญชีผู้ใช้") @sideMenu(user)

<div class="mainWindow">
		<div class="well wellSize" align="center">
			<h3>กำหนดสิทธิ</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>สิทธิ<span class="glyphicon glyphicon-sort"></span></th>
						<th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
						<th>user<span></span></th>
						<th>จัดซื้อ<span></span></th>
						<th>เบิกจ่าย<span></span></th>
						<th>รายงาน<span></span></th>
						<th>ติดตาม<span></span></th>
						<th>แก้ไข<span></span></th>
						<th>ลบ<span></span></th>
					</tr>
				</thead>
				<tbody>
					<!--   loop here -->
					@for(userStatus <- usersStatus){
						<tr class="role">
							<th id="@userStatus.name">@userStatus.name</th>
							<th>@userStatus.numberOfUser.size()</th>
							<th><input type="checkbox" @if(userStatus.module1){ checked } @if(userStatus.name == user.status.name){ disabled }></th>
							<th><input type="checkbox" @if(userStatus.module2){ checked } @if(userStatus.name == user.status.name){ disabled }></th>
							<th><input type="checkbox" @if(userStatus.module3){ checked } @if(userStatus.name == user.status.name){ disabled }></th>
							<th><input type="checkbox" @if(userStatus.module4){ checked } @if(userStatus.name == user.status.name){ disabled }></th>
							<th><input type="checkbox" @if(userStatus.module5){ checked } @if(userStatus.name == user.status.name){ disabled }></th>
							<th><input type="checkbox" @if(userStatus.module6){ checked } @if(userStatus.name == user.status.name){ disabled }></th>
							@if(userStatus.numberOfUser.size()!=0){
							    <th><button class="btn btn-default"  disabled>ลบ</button></th>
							}else{
							    <th><button class="btn btn-danger"  onclick="del(@userStatus.name)">ลบ</button></th>
							}
						</tr>
					}
					<tr id="addRole" style="display: none;">
						<th><input type="text" id="addName"></th>
						<th></th>
						<th><input type="checkbox" id="add1"></th>
						<th><input type="checkbox" id="add2"></th>
						<th><input type="checkbox" id="add3"></th>
						<th><input type="checkbox" id="add4"></th>
						<th><input type="checkbox" id="add5"></th>
						<th><input type="checkbox" id="add6"></th>
						<th><button class="btn btn-default" type="button" onclick="save()">บันทึก</button></th>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-default" onclick="add()">เพิ่ม</button>
		</div>

	<div align="center" style="margin-bottom: 1%;">
		<a href="@routes.Admin.index()">
			<button class="btn btn-danger btn-lg width125px" style="margin-top: 1%; margin-right: 1%;">
				<span class="glyphicon glyphicon-remove"></span> ยกเลิก
			</button>
		</a> 
		<button class="btn btn-success btn-lg width125px" style="margin-top: 1%;" onclick="editingRole();">
			ยืนยัน <span class="glyphicon glyphicon-ok"></span>
		</button>
	</div>
	<script type="text/javascript">
		function editingRole(){
			var rows = $('.role');
			var roles = [];
			for(var i=0; i<rows.length; i++){
				var row = rows[i];
				var columns = $(row).find("th");
				roles.push({
					'name': $(columns[0]).text(),
					'module1': $(columns[2]).find("input").prop('checked'),
					'module2': $(columns[3]).find("input").prop('checked'),
					'module3': $(columns[4]).find("input").prop('checked'),
					'module4': $(columns[5]).find("input").prop('checked'),
					'module5': $(columns[6]).find("input").prop('checked'),
					'module6': $(columns[7]).find("input").prop('checked'),
				});
			}
			var result = {
				"data" : roles	
			};
			$.ajax({
				url: "/Admin/editRole",
			    type: 'post',
			    data: JSON.stringify(roles),
			    contentType: 'application/json',
			    dataType: 'json',
			    statusCode:{
			    	200: function(){
			 	    	window.location.assign("/Admin");
			 	    }
			    }
			});
		}
	</script>
</div>

@footer()
