@(articleOrders : List[models.durableArticles.Procurement], year : Integer)

<style type="text/css" media="print">
        table { page-break-inside:auto; border:double; }
        div    { page-break-inside:avoid;}
        thead { display:table-header-group }
        tfoot { display:table-footer-group }
</style>

@header("รายงาน")

        <div  id="print">
            <h4 align="center">
                รายการค่าเสื่อม
            </h4>
            <div align="center">
               ประจำปี @year
            </div>
            <table class="table table-bordered" align="center"style="font-size:12px; border-color:black;border:double;">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                    	<th>วัน เดือน ปี<span class="glyphicon glyphicon-sort"></span></th>
                        <th>รายการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ทะเบียนครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                        <th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                        <th>อายุการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ค่าเสื่อมรายปี<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ค่าเสื่อมราคาสะสม<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ค่าเสื่อมราคาประจำปี<span class="glyphicon glyphicon-sort"></span></th>
                        <th>มูลค่าสินทรัพย์<span class="glyphicon glyphicon-sort"></span></th>
                    </tr>
                </thead>
                <tbody>
       			
                @for((articleOrder,index) <- articleOrders.zipWithIndex){
                        @for((subOrders,index2) <- articleOrder.details.zipWithIndex){
                            <tr>
                            <th>@{index+1}</th>
                            <th>@articleOrder.getAddDate()</th>
                            <th>@subOrders.description</th>
                            <th>@subOrders.fsn.descriptionId</th>
                            <th>@subOrders.quantity</th>
                            <th>@("%.0f".format(articleOrder.round(subOrders.getSumablePrice(),2)))</th>
                            <th>@subOrders.llifeTime</th>
                            <th>@("%.2f".format(articleOrder.round(subOrders.getAnnualDepricate(),2)))</th> <!-- ค่าเสื่อมต่อปี -->
        
                            
                            <!-- ค่าเสือมสะสม -->
                            <th id="temp2@index@index2"></th>
        
                            <!-- ค่าเสือมประจำปี -->
                                <th id="temp0@index@index2"></th>
                          
                            
                            
                            <!--<th>@articleOrder.round(subOrders.depreciationPrice,2)</th>-->
                            <th id="temp1@index@index2">@subOrders.getTotalDepricate(year)</th>
                            </tr>
                            <script>
                                var temp = document.getElementById("temp1@index@index2").innerHTML;
                                temp = temp.substr(1,temp.length-2);
                                temp = temp.split(",");
                                document.getElementById("temp2@index@index2").innerHTML =parseFloat(temp[2]).toPrecision(10);
                                document.getElementById("temp0@index@index2").innerHTML =parseFloat(temp[0]).toPrecision(10);
                                document.getElementById("temp1@index@index2").innerHTML =parseFloat(temp[1]).toPrecision(10);
                            </script>
                        }
                 }

                </tbody>


            </table>
        </div> 
