@(user : User,articleOrders : List[models.durableArticles.Procurement], year : Integer)

@import java.text.SimpleDateFormat
@import java.util.Locale

@header("optionCalculateDepreciate")

@nav(user)
@headerTag("ระบบคำนวณค่าเสื่อม")
@sideMenu(user)


<div class="listWindow">
        <div class="tableHeaderBtnContainer">
            <span style="font-size:25px; float:left;">
                ระบบคำนวณค่าเสื่อม
            </span>
         <form role="form" method="post" action="@routes.Option.optionCalculatingDepreciatePrint()" name="calculatingDepreciateForm">
            <button class="btn btn-primary glyphicon glyphicon-print marginLeft2" style="float:right" type="submit">
                พิมพ์รายการค่าเสื่อม
            </button>
            <button class="btn btn-info glyphicon glyphicon-print" style="float:right" onclick="printTable()">
                พิมพ์ตารางนี้
            </button>
            <input class="form-control" name="yearsPrint" id="yearsPrint" value="@year"type="hidden">
        </form>
        </div>
        <div class="tableHeaderBtnContainer">
                <div class="searchS">
                    <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">ค้นหา</span>
                          <input type="text" class="form-control" style="width:250px">
                        </div>
                      </div>
                </div>
               <div class="form-inline" role="form">
                  <div class="form-group" >
                      <div class="input-group date width190px" id="start-picker">
                          <input type="text" class="form-control width150px" data-format="DD/MM/YYYY" autocomplete="off" id="startDate"placeholder="จากวันที่" disabled>
                          <input type="text" name="birthDate" id="birthInputBox" hidden>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                 </div>
                  <div class="form-group" >
                      <div class="input-group date width190px" id="end-picker">
                          <input type="text" class="form-control width150px" data-format="DD/MM/YYYY" autocomplete="off" id="endDate"placeholder="ถึงวันที่" disabled>
                          <input type="text" name="birthDate" id="birthInputBox" hidden>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                 </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#start-picker').datetimepicker({
                            	pickTime : false,
                            }).on('hide.dp',function(){
                            	getDataTable(0).draw();
                            });
                        });
                        $(function () {
                            $('#end-picker').datetimepicker({
                            	pickTime : false,
                            }).on('hide.dp',function(){
                            	getDataTable(0).draw();
                            });
                        });
                    </script>
               </div>
                 <form role="form" method="post" action="@routes.Option.optionCalculatingDepreciate()" name="calculatingDepreciateForm">
                     <div>
                        <div style="width:15%; float:right; margin-left:1%;">
                            <button class="btn btn-success" style="width:100%;" type="submit">คำนวณค่าเสื่อม</button>
                        </div>
                        <div class="form-group"style="width:200px;float:right;">
                           <div class="input-group">
                               <span class="input-group-addon">ปีที่</span>
                               <input type="number" class="form-control" id="years" name="years" onchange="mapInput();" onkeypress="validateNumberKey(event);" size="4" maxlength="4" value="@year">
                        <script>
                            function mapInput(){
                                document.getElementById("yearsPrint").value = document.getElementById("years").value;
                                console.log(document.getElementById("yearsPrint").value +" "+ document.getElementById("years").value);
                            }
                        </script>
                           </div>
                        </div>
                    </div>
                 </form>
        </div>

        <div class="adminUserinfoTableContainer">
            <table class="table table-striped overlayTable">
                

                <thead>
                    <tr>
                        <th>ลำดับ</th>
                    	<th>วัน เดือน ปี<span class="glyphicon glyphicon-sort"></span></th>
                        <th>รายการ<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ทะเบียนครุภัณฑ์<span class="glyphicon glyphicon-sort"></span></th>
                        <th>จำนวน<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ราคา<span class="glyphicon glyphicon-sort"></span></th>
                        <th>อายุการใช้งาน<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ค่าเสื่อมรายปี<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ค่าเสื่อมราคาสะสม<span class="glyphicon glyphicon-sort"></span></th>
                        <th>ค่าเสื่อมราคาประจำปี<span class="glyphicon glyphicon-sort"></span></th>
                        <th>มูลค่าสินทรัพย์<span class="glyphicon glyphicon-sort"></span></th>
                        <th style="display:none">barcode</th>
                    </tr>
                </thead>
                <tbody>
       			
                @for((articleOrder,index) <- articleOrders.zipWithIndex){
                        @for((subOrders,index2) <- articleOrder.details.zipWithIndex){
                            <tr>
                            <th> @{index+1}</th>
                            <th>@articleOrder.getAddDate()</th>
                            <th>@subOrders.description</th>
                            <th>@subOrders.fsn.descriptionId</th>
                            <th>@subOrders.quantity</th>
                            <th>@("%.0f".format(articleOrder.round(subOrders.getSumablePrice(),2)))</th>
                            <th>@subOrders.llifeTime</th>
                            <th>@("%.2f".format(articleOrder.round(subOrders.getAnnualDepricate(),2)))</th> <!-- ค่าเสื่อมต่อปี -->
                            <th style="display:none;">@subOrders.procurement.barCode</th>
        
                            
                            <!-- ค่าเสือมสะสม -->
                            <th id="temp2@index@index2"></th>
        
                            <!-- ค่าเสือมประจำปี -->
                                <th id="temp0@index@index2"></th>
                          
                            
                            
                            <!--<th>@articleOrder.round(subOrders.depreciationPrice,2)</th>-->
                            <th id="temp1@index@index2">@subOrders.getTotalDepricate(year)</th>
                            </tr>
                            <script>
                                var temp = document.getElementById("temp1@index@index2").innerHTML;
                                temp = temp.substr(1,temp.length-2);
                                temp = temp.split(",");
                                document.getElementById("temp2@index@index2").innerHTML =parseFloat(temp[2]).toPrecision(10);
                                document.getElementById("temp0@index@index2").innerHTML =parseFloat(temp[0]).toPrecision(10);
                                document.getElementById("temp1@index@index2").innerHTML =parseFloat(temp[1]).toPrecision(10);
                            </script>
                        }
                 }

                </tbody>


            </table>

        </div> 

</div>
<script>
$(document).ready( function(){
	$.fn.dataTableExt.afnFiltering.push(
	    function( oSettings, aData, iDataIndex ) {
	        // input change to format yyyymmdd
	        var dateMin = $('#startDate').val();
	        if(dateMin != ""){
	        	dateMin = dateMin.split('/')[2] + dateMin.split('/')[1] + dateMin.split('/')[0];
	        }
	        //console.log(dateMin);
	        
	        var dateMax = $('#endDate').val();
	        if(dateMax != ""){
	        	dateMax = dateMax.split('/')[2] + dateMax.split('/')[1] + dateMax.split('/')[0];
	        }
	        //console.log(dateMax);
	        
	        // date column
	        var date = aData[1];
	        date = date.split('/')[2] + date.split('/')[1] + date.split('/')[0];
	        console.log(date);
	 
	        // run through cases
	        if ( dateMin == "" && date <= dateMax){
	            return true;
	        }
	        else if ( dateMin =="" && date <= dateMax ){
	            return true;
	        }
	        else if ( dateMin <= date && "" == dateMax ){
	            return true;
	        }
	        else if ( dateMin <= date && date <= dateMax ){
	            return true;
	        }
	        // all failed
	        return false;
	    }
	);
} );
</script>
@footer()
