@(user : User)
@header("report")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/home.css")">

@nav(user)
@headerTag("ระบบงานพัสดุ คณะศิลปกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์")
@sideMenu()

<div class ="mainWindow" style="text-align:center;">

<div class="well wellCenter">
    <h3>
        ระบบบริหารจัดการรายงาน 
    </h3>
    <a href="@routes.Application.reportRemainingMaterial()">
    <button class="btn btn-default btn-block btn-lg marginBtm1 shadowGray"  style="width:100%;">รายงานวัสดุคงเหลือ</button>
    </a>
    <a href="@routes.Application.reportRemainingMaterialConclusion()">
    <button class="btn btn-default btn-block btn-lg marginBtm1 shadowGray"  style="width:100%;">สรุปวัสดุคงเหลือ</button>
    </a>
    <a href="@routes.Application.reportDurableArticles()">
    <button class="btn btn-default btn-block btn-lg marginBtm1 shadowGray"  style="width:100%;">สรุปครุภัณฑ์</button>
    </a>
    </a>
</div>
</div> 
@footer()
