<div class ="sideMenu">
    <img src="@routes.Assets.at("images/fineArtLogo.png")"style="width:100%;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">เมนูหลัก</h3>
      </div>
      <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="lineShadow"><a href="@routes.Application.imports()">ระบบจัดซื้อและนำเข้าวัสดุครุภัณฑ์ </a></li>
                <li class="lineShadow"><a href="#">ระบบเบิกจ่ายและโอนย้าย </a></li>
                <li class="lineShadow"><a href="#">ระบบบริหารจัดการรายงาน </a></li>
                <li class="lineShadow"><a href="#">ระบบติดตามและตรวจสอบ </a></li>
            </ul>
      </div>
    </div>
</div> 
