@(user : User)
<div class ="sideMenu">
    <a href="@routes.Application.home()" tabindex="1">
        <!--<img src="@routes.Assets.at("images/fineArtLogo.png") "style="width:100%;" alt="โลโก้คณะศิลปกรรมศาสตร์">-->
        <img src="@routes.Assets.at("images/logo.png") "style="width:100%;" alt="โลโก้คณะศิลปกรรมศาสตร์">
    </a>
    <div class="panel panel-default" style="border-color:white;">
      <div class="">
            <ul class="nav nav-pills nav-stacked">
            <!--
                @if(user.status.module2){
                    <li class="lineShadow"><a href="@routes.Import.imports()">ระบบจัดซื้อและนำเข้าพัสดุ </a></li>
                }
                @if(user.status.module3){
                    <li class="lineShadow"><a href="@routes.Export.export()">ระบบเบิกจ่ายและโอนย้าย </a></li>
                }
                @if(user.status.module4){
                    <li class="lineShadow"><a href="@routes.Report.report()">ระบบรายงาน </a></li>
                }
                @if(user.status.module5){
                    <li class="lineShadow"><a href="@routes.Graph.index()">ระบบติดตามและตรวจสอบ </a></li>
                }
            -->
                @if(user.status.module2){
                    <li>
                        <div >
                            <div class="dropdown">
                              <button class=" sideMenuBtn btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" tabindex="2">
                                จัดซื้อและนำเข้า
                              </button>
                              <ul class="dropdown-menu" style="left:100%; top:0;" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Import.importsInstitute()">ลงทะเบียนสถานประกอบการ</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Import.importsMaterial()">ออกหมายเลขพัสดุ</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Import.importsOrder()">นำเข้าพัสดุ</a></li>
                              </ul>
                            </div>
                        </div>
                    </li>
                }
                @if(user.status.module3){
                    <li>
                        <div >
                            <div class="dropdown">
                              <button class=" sideMenuBtn btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" tabindex="3">
                                เบิกจ่ายและโอนย้าย
                              </button>
                              <ul class="dropdown-menu" style="left:100%; top:0;" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.ExportOrder.exportOrder()">เบิกจ่ายวัสดุ</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.ExportTransferInside.exportTransferInside">โอนย้ายครุภัณฑ์ภายในหน่วยงาน</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.ExportSold.exportSold">จำหน่ายครุภัณฑ์</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.ExportDonate.exportDonate">บริจาคครุภัณฑ์</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.ExportRepair.exportRepairing">ส่งซ่อม-รับคืน</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.ExportBorrow.exportBorrow">ยืม-รับคืน</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.ExportOther.exportOther">โอนย้ายอื่นๆ</a></li>
                              </ul>
                            </div>
                        </div>
                    </li>
                }
                @if(user.status.module4){
                    <li>
                        <div >
                            <div class="dropdown">
                              <button class=" sideMenuBtn btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" tabindex="4">
                                รายงาน
                              </button>
                              <ul class="dropdown-menu" style="left:100%; top:0;" role="menu" aria-labelledby="dropdownMenu3">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportRemainingMaterial()">รายงานวัสดุคงเหลือ</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportRemainingMaterialConclusion()">สรุปวัสดุคงเหลือ</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportDurableArticles()">สรุปครุภัณฑ์</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportImportDurableArticles()">รายการนำเข้าครุภัณฑ์</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportExportDurableArticles()">รายการเบิกจ่าย</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportExchangeDurableArticles()">รายการโอนย้าย</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportAuction()">รายการจำหน่าย</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportDonate()">รายการบริจาค</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportRepair()">รายการส่งซ่อม</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportBorrow()">รายการยืม/รับคืน</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Report.reportOther()">รายการโอนย้ายอื่นๆ</a></li>
                              </ul>
                            </div>
                        </div>
                    </li>
               }
                @if(user.status.module5){
                    <li>
                            <div class="dropdown">
                                <a href="@routes.Graph.index()">
                                    <button class=" sideMenuBtn btn btn-default dropdown-toggle" type="button" tabindex="5">
                                        ติดตามและตรวจสอบ
                                    </button>
                                </a>
                            </div>
                    </li>
               }
				
				
               @if(user.status.module6){
               	   <li>
                          <div >
                            <div class="dropdown">
                              <button class=" sideMenuBtn btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" tabindex="2">
                                ระบบควบคุมการจัดการระบบอื่นๆ
                              </button>
                              <ul class="dropdown-menu" style="left:100%; top:0;" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Option.optionCalculateDepreciate()">ระบบคำนวณค่าเสื่อม </a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Option.optionIncomingBalance()">ระบบจัดการยอดยกมา</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Option.optionChangeTax()">กำหนดเงินภาษี</a></li>
                              </ul>
                            </div>
                        </div>
                    </li>
               }
               

            </ul>
      </div>
    </div>
</div> 
